label.error {
	color: red;
	font-size: 12px;
	display: block;
	text-align: left;
}
.error {
	color: red;
	font-size: 12px;
	display: block;
	text-align: left;
}
.form-control:disabled, .form-control[readonly] {
	background-color: #fff;
	opacity: 1;
}
.home_page_wrapper {
	overflow: hidden;
}
.loader {
	position: fixed;
	background: rgba(255,255,255,0.5);
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 99;
}
.loader .img-resposnive {
	transform: translateY(55%);
}