@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

html,
body {
	margin: 0;
	font-size: 100%;
	background: #fff;
		font-family: 'Poppins', sans-serif;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
	color: #ffb001;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
}

p {
	margin: 0;
	font-size: 1em;
	color: #777777;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}
/*-------------------------------------------------- */

@media only screen and (max-width: 1920px) { 
.ScamperSkillsWWrapper .slide-content-wrapper
{
	/*padding-top: 20px!important;*/
}
.slide-left
{
	float: left!important;
	width:35%!important;
	

}
.slide-right
{
	float: left!important;
	/*width:25%!important;*/
	width:35%!important;
	
}
.course_dtl_sec .pos_sticky
{
	top:0!important;
}
}

@media only screen and (max-width: 1350px) { 
	.drop-menu
	{
		left:-100px!important;
	}
	

}
@media only screen and (max-width: 1199px) {  /* 27-Aug-2019 */
	
	.ScamperSkillsWWrapper .container{  
		max-width: 1160px;
	}
	.slide-content.text-left
	{
		margin-left: 25px;
		padding-right: 15px;
	}
	.course-in
	{
		width:100%!important;
	}
	.user-list
	{
		flex: none!important;
		
	}
	.why_us_sec
	{
		background:none!important;
		
	}
	.sec-2
	{
		max-width:100%!important;
		flex: none!important;
		margin-left: 0!important;
	}
}
@media only screen and (max-width: 1089px) {
.slide-left
{
	float: left!important;
	width:35%!important;
	
}
.slide-right
{
	float: left!important;
	width:25%!important;
	
}
}
@media only screen and (max-width: 1080px) {
	.slide-left
	{
		float: left!important;
		width:50%!important;

	}
	.slide-right
	{
		float: left!important;
		width:40%!important;
	}
	.slide-title
	{
		font-size: 50px;
	}
	.slide-content.text-left
	{
		margin-top: 50px;
	}
	.btn-up-phots
	{
		width:75%;
	}
	.slide-content-wrapper {
		height: 142vh;
	}
	.why_us_sec {
		/*background-position: center left;*/
		background-size: 44%;
		background-position: top left;
	}
	.video-play-icon {
		top: 28%;
	}
	.top_header .top_numb {
		font-size: 14px;
	}
	#contact_us_form .col-md-8{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.map_cont iframe{
		width: 108%;
	}
	#contact_us_form .col-md-8{
		flex: 0 0 66%;
		max-width: 66%;
	}	
	.single-counter .counter-icon i {
		font-size: 1.5em;
	}
	.single-counter .counter {
		font-size: 1rem;
	}
	.single-counter .counter-title {
		font-size: 1.1em;
	}
	.single_cors {
		min-height: 482px;
	}

	.ScamperSkillsWWrapper .slide-content-wrapper {  /* 27-Aug-2019 */
		height:auto;
    	/*height: 100vh;*/
    	max-width: 960px;
    	/*margin-left: 50px;*/
    }
}

@media only screen and (max-width: 991px) {
	.slide-subtitle
	{
		font-size: 1.30em!important;
	}
	.slide-title
	{
		font-size: 40px!important;
	}
	.sec_heading.text-left
	{
		margin-top:20px;
	}
	.user-list
	{
		flex: none!important;
		max-width:100%!important;
	}
	.chat-info
	{
		flex: none!important;
		max-width:100%!important;	
	}
	.side_feat ul
	{
		padding: 15px!important;
	}
	.container{  
		max-width:990px!important;
	}
	.slider_sec {
		height: 690px;
	}
	.footer_chatr .col-sm-11 {
		flex: 85%;
		max-width: 85%;
	}
	.footer_chatr .col-sm-1 {
		flex: 15%;
		max-width: 15%;	
	}
	.slide-title {
		font-size: 50px;
	}
	.why_us_sec {
		/*background-position: -40% center;*/
	}
	.img_app .img-fluid {
		width: 100% !important;
	}
	.team_imgs .pic > img {
		width: 200px;
		height: 200px;
	}
	.single-counter .counter-title {
		font-size: 24px;
	}
	.ul_side a {
		padding: 10px 18px;
	}
	.ul_side a i {
		margin-right: 2px;
		width: 14px;
		font-size: 16px;
	}
	.db_overview .col-sm-4 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.btn.upg_pl {
		font-size: 11px;
		padding: 8px 7px;
	}
	.cors_footer .btn.btn_gradient.btn_active {
		font-size: 12px;
		padding: 10px 12px;
	}
	.team_imgs .pic > img {
		width: 160px;
		height: 160px;
	}
	.item_crs img {
		height: 300px;
	}
	.item_thumb img {
		height: 60px;
	}
	.top_header .container, header.header .container {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
	.otp_fields .inpt_otp {
		margin: 0 4px;
	}
	.navbar-nav {		
		/*flex-direction: row;*/
	}
	.my_ul{
		width: 50%;
		float: left;
	}
	.my_new_ul{
		float: right;
	}
	.navbar-nav .dropdown-menu {
	 position: absolute; 
	 float: none; 
	}
	.top_header .top_numb {
		font-size: 15px;
		display: inline-block;
	}
	.cont_shd_frm .lab_tog {
		margin: 0 6px;
	}
	#contact_us_form .col-md-4{
		flex: 0 0 100%;
		max-width: 100%;
	}
	#contact_us_form .col-md-8{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.map_cont iframe{
		width: 100%;
	}	
	.video-play-icon {
		top: 21%;
	}
	.slide-content-wrapper {
		height: 138vh;
	}
	.single_cors {
		min-height: 504px;
	}
	.outer-footer.product-share {
		/*float: right;
		position: absolute;*/
		top: 48px;
		/*right:16px;*/
	}
}

@media only screen and (max-width: 834px) {
	.slide-title
	{
		font-size: 34px!important;
	}
	.why_us_sec .col-sm-7.offset-5 {
		margin-left: 0;
		width: 100%;
		max-width: unset;
		flex: 0 0 100%;
	}
	.why_us_sec {
		background-image: unset !important;
	}
	.bene_sec {
		padding: 20px 0;
	}
	.team_imgs .pic > img {
		width: 190px;
		height: 190px;
	}
	.single-counter .counter {
		font-size: 20px;
	}
	.wrap_dash_sec {
		padding: 0 0px;
	}
	.ul_side a {
		font-size: 12px;
	}
	.card_shd.cnt_skamper {
		padding: 20px;
	}
	.inner_page .team_imgs .pic > img {
		width: 150px;
		height: 150px;
	}
	.top_header .top_numb {
		padding: 8px 10px 0;
		font-size: 14px;
	}
	.top_header .top_numb {
		font-size: 12px;
	}
	.top_div a {
		font-size: 13px;
	}
	.cont_shd_frm .lab_tog {
		margin: 0 2px;
	}
	.cont_shd_frm{
		position: relative;
		z-index: 0;
	}
	.slide-content-wrapper {
		height: 142vh;
	}
}


@media only screen and (max-width: 800px) { /* 27-Aug-2019 */ 
	.cors_sec .course_tables .single_cors{
		padding: 0px 5px;
	}
}


@media only screen and (max-width: 768px) {
	.zomer
	{
		display: none;
	}
	.top_div a {
		font-size: 13px;
	}
	.top_header .top_numb {
		font-size: 13px;
	}
	.slick-prev {
		left: -15px;
		z-index: 9;
	}
	.slick-next {
		right: -15px;
	}
	.single-counter .counter-title {
		font-size: 21px;
	}
	.counter-section {
		padding: 30px 0;
	}	
	.btn.upg_pl {
		font-size: 9px;
		padding: 8px 9px;
	}
	.name_db {
		font-size: 14px;
	}
	label.lab_tog {
		margin: 0 3px;
	}
	.table .thead-dark th {
		white-space: nowrap;
	}
	.course_dtl_sec .content_detl .row > div {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.top_header .top_numb {
		font-size: 11px;
	}
	.top_div a {
		font-size: 12px;
	}
	.cont_shd_frm .lab_tog {
		margin: 0 -2px;
	}
	.slide-content-wrapper {
		height: 140vh;
	}
	.course_dtl_sec
	{
		padding:10px!important;
	}
	.slide-left
	{
		float: left!important;
		width:40%!important;

	}
	.slide-right
	{
		float: left!important;
		width:35%!important;
	}
	.course_Meta
	{
		float: left;
		margin-top: 120px!important;
	}
	.item_crs img
	{
		object-fit: contain!important;
	}
}

@media only screen and (max-width: 767px) {
	.course_Meta
	{
		float: left;
		margin-top: 70px!important;
	}
	
	.why_us_sec
	{
		background:none!important;
	}
	.product_scamper_div
	{
		margin-bottom: 20px;	
	}
	.wrap_dash_sec .footer_chatr .col-sm-11 {
		flex: 92%;
		max-width: 92%;
	}
	.wrap_dash_sec .footer_chatr .col-sm-1 {
		flex: 8%;
		max-width: 8%;	
	}
	.slide-title {
		font-size: 34px;
	}
	.btn.btn_gradient {
		padding: 4px 9px;
		font-size: 0.9rem;
	}
	.slide-thumbnail-image {
		display: none;
	}
	.slide-content-wrapper {
		/*height: 42vh;*/
	}
	.slider_sec {
		height: 500px;
	}
	.img_app .img-fluid {
		width: 80%;
		/*padding-top: 20px;*/
	}
	.slick-prev {
		left: -35px;
	}
	.slick-next {
		right: -35px;
	}
	.team_imgs .pic > img {
		width: 150px;
		height: 150px;
	}
	.register_sec .col-sm-6.offset-3 {
		margin-left: 91px;
		max-width: 67%;
		flex: 0 0 67%;
	}
	#franchise_form .col-sm-8.offset-2 {
		margin-left: 0;
		max-width: 100%;
		flex: 0 0 100%;
	}
	.img-fluid.fr_img {
		width: 80%;
	}
	.wrap_dash_sec .row > div {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.pic_pos i {
		right: unset;
		left: 54%;
	}
	.ul_side a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.name_db {
		font-size: 21px;
	}
	.btn.upg_pl {
		font-size: 14px;
		padding: 8px 9px;
	}
	.card_shd {
		margin-bottom: 30px;
	}
	.main_cntnt_dash {
		margin: 20px 0;
	}
	.cont_shd_frm .col-sm-10.offset-1 {
		margin-left: 0;
	}
	.mainside_wrap .single_cors {
		min-height: unset;
	}
	.course_img {
		margin-bottom: 40px;
	}
	.top_header .row > div {
		max-width: 100%;
		flex: 0 0 100%;
		text-align: center !important;
	}
	.top_header .top_numb {
		font-size: 15px;
	}
	.top_div a {
		font-size: 14px;
	}
	.form_head div > .img-fluid {
		width: 70%;
		margin: 20px 0 20px;
	}
	.sec_heading h2{
		font-size: 27px;
	}
	.cont_shd_frm .lab_tog {
		margin: 0 10px;
	}
	.why_sec .my_img {
		padding: 20px 0 0;
	}
	.pic::before {
		left: 7%;		
	}
	.pic::after {
		right: 7%;		
	}
	.my_cnct {
		padding: 40px 0;
	}
	.sitemap_ul li {
		flex: 0 0 50%;
	}	
	.img_app {
		margin-top: 15px;
	}
	.video-play-icon {
		top: 50%;
	}

	.ScamperSkillsWWrapper .slide-content-wrapper { /* 27-Aug-2019 */
		/*height: 71vh;		*/
	}

	.course_tables.slick-initialized.slick-slider .slick-prev { /* 27-Aug-2019 */
		left: -20px;
	}
	.modal-dialog{
		max-width: 600px!important;
		margin: auto!important;
	}
}

@media only screen and (max-width: 640px) {
	.counter-section .col-sm-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.single-counter .counter-title {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.single-counter .counter {
		font-size: 20px;
		margin-bottom: 0px;
	}
	.cont_shd_frm {
		margin-top: 30px;
	}
	.dash_header .navbar-light .navbar-nav .nav-link {
	    padding: 20px 10px;
	}
	.offer_popup .modal-content {
		/*width: 610px;
		height: 440px;
		left: -57px;
		top: -8px;	*/
	}

	.owl-carousel.slick-initialized.slick-slider .slick-prev.slick-arrow.slick-disabled { /* 27-Aug-2019 */
		left: -20px;
	}
	.modal-dialog{
		max-width: 500px!important;
		margin: auto!important;
	}
	.ScamperSkillsWWrapper .slide-content-wrapper
	{
		max-width: 420px;
		margin-top: 40px;
	}

}
@media only screen and (max-width: 576px)
{
	.slide-left
	{
		float: left!important;
		width:100%!important;

	}
	.slide-right
	{
		float: left!important;
		width:100%!important;
	}
	
}
@media only screen and (max-width: 500px) {  /* 27-Aug-2019 */
	.ScamperSkillsWWrapper .slide-content-wrapper {
		/*max-width: 447px;*/
	}	
	.modal-dialog{
		max-width: 450px!important;
		margin: auto!important;
	}
	.slide-left
	{
		float: left!important;
		width:100%!important;

	}
	.slide-right
	{
		float: left!important;
		width:100%!important;
	}
}


@media only screen and (max-width: 480px) {
	.drop-menu
	{
		left:0!important;
	}

	.modal-dialog{
		max-width: 380px!important;
		margin: auto!important;
	}
	.wrap_dash_sec .footer_chatr .col-sm-11 {
		flex: 87%;
		max-width: 87%;
	}
	.wrap_dash_sec .footer_chatr .col-sm-1 {
		flex: 13%;
		max-width: 13%;
	}
	.btn-up-phots {
		width: auto;
		padding: 10px 10px;
		font-weight: normal;
	}
	.slide-content-wrapper {
		/*padding: 0 30px;*/
		/*height: 46vh;*/
	}
	.slider_sec {
		height: 550px;
	}
	.slick-next {
		/*right: -5px;*/
		right:-32px;
	}
	.slick-prev {
		left: 5px;
	}
	.counter-section .col-sm-3 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.top_header .col-sm-6 {
		text-align: center !important;
	}
	.pic_pos i {
		right: unset;
		left: 58%;
	}
	.register_sec .col-sm-6.offset-3 {
		margin-left: 80px;
		max-width: 67%;
		flex: 0 0 67%;
	}
	.my_ul{
		width: unset;
		float: left;
	}
	.my_new_ul{
		float: left;
	}
	.dash_header .navbar-light .navbar-nav .nav-link {
	    padding: 20px 23px;
	}
	.navbar-nav.ml-auto.my_nav {
		flex-direction: column;
	}
	.news_contnt .ttl_news {
		padding: 10px 0 0;
	}
	.offer_popup .modal-content {
		/*width: 460px;
		height: 440px;
		left: 3px;
		top: 12px;*/
	}
	.offer_popup .modal_content h1{
		margin: 17px 0 0 -25px;
	}
	.coupon_code.text-center {
		margin-left: -140px;
	}
	.nav-item {
		margin-bottom: 10px;
	}
	.footer_logo img {
		width: 45%;
	}
	.botom_ftrr .list-inline {
		text-align: center !important;
	}
	.slide-content-wrapper {
		height: 110vh;
	}	
	.slide-left
	{
		float: left!important;
		width:100%!important;

	}
	.slide-right
	{
		float: left!important;
		width:100%!important;
	}
}


	
	
@media only screen and (max-width: 414px) {
	.slide-left
	{
		float: left!important;
		width:100%!important;

	}
	.slide-right
	{
		float: left!important;
		width:100%!important;
	}
	.slide-description
	{
		font-size: 0.9em!important;
		width:90%!important;
	}
	.msg_inr_dtl
	{
		max-width:100%!important;
	}
	.table_header h3
	{
		font-size:20px!important;
	}
	.course_Meta h3 {
	    width: 100%;
	}
	.formss_modal
	{
		padding: 30px 20px 10px!important;
	}
	.slide-subtitle
	{
		font-size: 1.50rem!important;
	}
	.slide-content.text-left
	{
		margin-top: 20px!important;
	}
	.modal-dialog{
		max-width: 350px!important;
		margin: auto!important;
	}
	.slide-title {
		font-size: 20px;
	}
	.video-play-icon {
		height: 70px;
		width: 70px;
	}
	.video-play-icon i {
		top: -15px;
	}
	/*.sec_heading h2 {
		font-size: 1.5rem;
	}*/
	.register_sec .col-sm-6.offset-3 {
		margin-left: 69px;		
	}
	.name_item .dropdown-menu.show {
		right: -46px;
	}
	.offer_popup .modal-content {
		/*width: 394px;
		height: 440px;
		left: 3px;
		top: 27px;*/
	}
	.coupon_code.text-center {
		margin-left: -77px;
	}	
	.offer_popup .modal_content h1{
		font-size: 38px;
	}
	.offer_popup .modal_content h1 {
		margin: 17px 0 0 0px;
	}
	.sitemap_ul li {
		flex: 0 0 100%;
	}	

	.ScamperSkillsWWrapper .slide-content-wrapper { /*27-Aug-2019 */
		/*height: 76vh;		*/
		/*margin-left: 36px;*/
	}
}


@media only screen and (max-width: 375px) {
	.slide-left
	{
		float: left!important;
		width:75%!important;

	}
	.slide-right
	{
		float: left!important;
		width:75%!important;
	}
	.table_header h3
	{
		font-size:20px!important;
	}
	.modal-dialog{
		max-width: 320px!important;
		margin: auto!important;
	}
	.slide-content-wrapper {
		/*height: 48vh;*/
	}
	.slider_sec {
		height: 570px;
	}
	.pic_pos i {
		left: 60%;
	}
	.btn.upg_pl {
		padding: 8px 27px;
	}
	.slide-subtitle {
		font-size: 17px;
	}
	.wrap_dash_sec .footer_chatr .col-sm-11 {
		flex: 84%;
		max-width: 84%;
	}
	.wrap_dash_sec .footer_chatr .col-sm-1 {
		flex: 16%;
		max-width: 16%;
	}
	.trans_hdr .navbar-light .navbar-nav .nav-link {
		margin-left: 16px;
	}
	.map_cont iframe{
		width: 300px;
	}
	/*.sitemap_ul li {
		flex: 0 0 48%;
	}*/
	.offer_popup .modal-content{
		/*width: 352px;*/
	}
	.offer_popup .modal_content h1 {
		font-size: 35px;
	}
	.coupon_code.text-center {
		margin-left: -37px;
	}	

	.ScamperSkillsWWrapper .slide-content-wrapper {	/* 27-Aug-2019 */
		margin-left: 11px;
	}
	.slide-subtitle
	{
		font-size: 1.25rem!important;
	}

}

@media only screen and (max-width: 360px) {
	.table_header h3
	{
		font-size:20px!important;
	}
	.slide-content.text-left
	{
		margin-left: 15px!important;
	}
	.modal-dialog{
		max-width: 280px!important;
		margin: auto!important;
	}
	.dash_header .navbar-light .navbar-nav .nav-link {
	    padding: 20px 17px;
	}
	.map_cont iframe{
		width: 292px;
	}
	.offer_popup .modal-content {
		/*width: 339px;*/
	}
	.offer_popup .modal_content h1 {
		font-size: 33px;
	}
	.coupon_code.text-center {
		margin-left: -20px;
	}		
	.slide-left
	{
		float: left!important;
		width:70%!important;

	}
	.slide-right
	{
		float: left!important;
		width:70%!important;
	}
}

@media only screen and (max-width: 320px) {
	.table_header h3
	{
		font-size:20px!important;
	}
	.dash_header .navbar-light .navbar-nav .nav-link {
	    padding: 20px 10px;
	}
	.otp_fields .inpt_otp {
		margin: 0 1px;
	}
	.otp_fields .inpt_otp {
		width: 21%;
	}
	.map_cont iframe{
		width: 252px;
	}
	.offer_popup .modal-content {
		/*width: 300px;
		height: 440px;
		left: unset;	
		top: 22px;	*/
	}
	.offer_popup .modal_content h1 {
		font-size: 34px;
	}
	.coupon_code.text-center {
		margin-left: 2px;	
	}
	.slide-content-wrapper {
		height: 120vh;
	}	

	.ScamperSkillsWWrapper .slide-content-wrapper {	
	margin-left: 36px;
	margin-left: 0px;
	}

	.slick-slide .slick-next.slick-arrow{
		right: -32px;
	}
	.slide-content.text-left
	{
		margin-left: 25px!important;
		padding-right: 25px!important;
	}
	.slide-left
	{
		float: left!important;
		width:70%!important;

	}
	.slide-right
	{
		float: left!important;
		width:70%!important;
	}
}


