@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

html,
body {
	margin: 0;
	font-size: 100%;
	background: #fff;
		font-family: 'Poppins', sans-serif;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
	color: #ffb001;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
}

p {
	margin: 0;
	font-size: 1em;
	color: #777777;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
header {
	background: #fff;
	box-shadow: 0 0 20px -3px #ddd;
	position: relative;
	z-index: 9999;
}
.navbar-brand {
	margin-right: 1rem;
	width: 150px;
	top: 5px;
	z-index: 3;
	padding-top: 10px;
}
.trans_hdr .navbar-light .navbar-nav .nav-link {
		color: #fff;
		margin-left: 30px;
}
.trans_hdr .navbar-brand {
	margin-right: 0;
	width: 200px;
	z-index: 3;
	padding: 0;
}
.navbar.navbar-expand-lg.navbar-light {
		padding: 0rem 0;
}
.trans_hdr.fixed_hedr .navbar-light .navbar-nav .nav-link {
		color: #128ce1;
		margin-left: 30px;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
		color: #fff;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
		/*color: #fff;*/
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffb001 !important;
} 
.navbar-light .navbar-nav .nav-link.disabled {
		color: #fff;
}
/* Show it is fixed to the top */
.header.trans_hdr {
		background: transparent;
		/*position: absolute;*/
		width: 100%;
		z-index: 9;
		box-shadow: none;
}
.header.fixed_hedr {
		background: #fff;
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		box-shadow: 0 0 10px -3px #000;
}
.header.trans_hdr.innr_hedr {
	background: #fff;
	box-shadow: 0px 10px 20px -11px #ddd;
	border-top: 1px solid #ddd;
}
.trans_hdr.innr_hedr .navbar-light .navbar-nav .nav-link {
	color: #0094de;
}
.home_page_wrapper.inner_page {
	padding-top: 0px;
}
/*header*/

/*slider home*/
section {

}
.slider_sec {
		background-color: #AB46F8;
		background-image: -moz-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #AB46F8));
		background-image: -webkit-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background-image: -o-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background: -ms-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background: -webkit-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background: -o-linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		background: linear-gradient(45deg, #AB46F8 0%, #0094de 100%);
		position: relative;
		height: 685px;
}
.slider_sec::before {
		position: absolute;
		content: '';
		left: 0;
		bottom: -5px;
		width: 100%;
		height: 335px;
		background-position-y: bottom;
		background-repeat: repeat-x;
		background-size: cover;
		background-image: url(../../images/system/bg-shape.png);
}
.slide-content-wrapper {
		height: 100vh;
}
.top_header {
	padding: 4px 0;
	color: #6d6d6d;
	background: #138ce1;
	color: #fff;
}
.top_header .top_numb {
	font-size: 16px;
	display: inline-block;
}
.top_div a {
	font-size: 15px;
	color: #fff;
}
.list-inline-item.midle_li {
		padding: 0 20px;
		border-left: 1px solid #9acd00;
		border-right: 1px solid #9acd00;
		margin: 0 10px;
}
.dwnlld_a {
	color: #ffb001;
	font-style: italic;
	font-weight: bold;
}
.dwnlld_a i {
	font-weight: lighter;
	color: #fff;
}
.btn.btn_gradient.btn_active {
		background: -webkit-linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
		background: -o-linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
		background: linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
		color: #fff;
		border-radius: 70px;
		padding: 8px 20px;
		border: 2px solid;
		margin-top: 8px !important;
}
.btn.btn_gradient {
		background: transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 70px;
		padding: 8px 20px;
		border: 2px solid #fff;
		margin-top: 20px;
}
.slide-content.text-left {
		color: #fff;
		
}
.slide-title {
		font-size: 65px;
		font-weight: bold;
		letter-spacing: -2px;
}
.slide-description {
		color: #fff;
}
/*slider home/*/

/*why us sec*/

.why_us_sec {
	padding: 0!important;
	/*padding: 0 0 30px;*/
	background-image: url(../../images/system/maybe.png);
	background-repeat: no-repeat;
}

.sec_heading.text-left {
	margin-bottom: 20px;
}

.wrp_single {
	margin-bottom: 30px;
}

.sec_heading h2 {
	font-family: 'Yeseva One', cursive;
}

.hed_why {
	display: inline-block;
	width: calc(100% - 52px);
	font-size: 17px;
	font-weight: bold;
}

.wrp_single img {
	width: 41px;
	display: inline-block;
	margin-right: 5px;
	height: 40px;
	object-fit: contain;
}

.why_desc {
	font-size: 14px;
	line-height: 1.8;
}

.sec_gray {
	background: rgba(82, 37, 248, 0.03);
}

.bene_sec {
	/*padding: 60px 0;*/
	padding: 40px 0;
}

.img_app .img-fluid {
	width: 85%;
	height: auto;
}

.video-image {
	display: block;
	position: relative;
}

.video-image img {
	width: 100%;
	border-radius: 10px;
}

.video-play-icon {
	font-size: 34px;
	text-align: center;
	background-color: #F86754;
	background: linear-gradient(45deg, #0094DE 0%, #90d7fa 100%);
	border-radius: 100%;
	display: inline-block;
	height: 100px;
	width: 100px;
	line-height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	cursor: pointer;
}

.video-play-icon i {
	color: #ffffff;
	left: 5px;
	position: relative;
}

.video-play-icon::after {
	content: "";
	position: absolute;
	border-radius: 50%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 100%;
	pointer-events: none;
	width: 100%;
}

.video-play-icon::after {
	content: '';
	position: absolute;
	-webkit-animation: sonarEffect 1.5s linear 2s infinite running;
	animation: sonarEffect 1.5s linear 2s infinite running;
	-webkit-box-shadow: 0 0 0 2px #F86754;
	box-shadow: 0 0 0 2px #F86754;
	left: 0;
	opacity: 0;
	padding: 0;
	top: 0;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	z-index: -1;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0.5;
		-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes sonarEffect {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0.5;
		-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
	}
	100% {
		-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		box-shadow: 0 0 0 2px #ffffff, 0 0 5px 5px transparent, 0 0 0 5px #ffffff;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}


/*why us sec/*/

/*testimonial sec*/
.testimonial_sec {
		padding: 15px 0;
}
.testimonial{
		text-align: center;
}
.pic {
		position: relative;
		margin-top: 15px;
}
.pic > img {
		border-radius: 100%; /* Param 9-Aug-2019 */
		width: 80px;
		height: 80px;
		object-fit: cover;
}
.pic:before{
		content: "\f10d";
		font-family: "Font Awesome 5 Free"; font-weight: 900;
		display: inline-block;
		position: absolute;
		top:10px;
		left:35%;
		color:#eee;
		font-size: 36px;
}
.pic:after{
		content: "\f10d";
		font-family: "Font Awesome 5 Free"; font-weight: 900;
		display: inline-block;
		position: absolute;
		top:10px;
		right: 35%;
		color:#eee;
		font-size: 36px;
}
.testimonial-title {
		font-size: 20px;
		color: #0094de;
		text-transform: capitalize;
		font-weight: 500;
		margin-top: 10px;
}
.testimonial-title > small {
		display: block;
		color: #6a6d8f;
		font-size: 13px;
		text-transform: uppercase;
		margin-top: 5px;
		font-style: italic;
}
.description {
		color: #8a9aad;
		font-size: 15px;
		font-weight: lighter;
		line-height: 35px;
		padding: 0 50px;
}
#testimonial-slider .testimonial-title li {
		font-size: 15px;
		margin-right: 0;
}
#testimonial-slider .testimonial-title li i {
		color: #ffb001;
}
/*testimonial sec/*/

/*pricing sec*/
.cors_sec {
		/*padding: 15px 0;*/
		padding: 0px 0px;
}
.course_tables {
		margin-top: 30px;
}
.single_cors {
	padding: 30px 15px;
	/*-webkit-box-shadow: 10px 17.3px 40px rgba(99, 117, 138, 0.15);
	box-shadow: 10px 17.3px 40px rgba(99, 117, 138, 0.15);*/
	width: 31.3%;
	float: left;
	overflow: hidden;
	border-radius: 12px;
	text-align: center;
	background: #ffffff;
	position: relative;
	z-index: 2;
	min-height: 430px;
	max-height: 430px;
	/*margin: 0 10px;*/
}
.single_cors.with_bg {
	background: #eef5fa;
	box-shadow: none;
}
.cors_head .cors_title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.cors_head p {
	display: inline-block;
	height: 28px;
	line-height: 27px;
	margin: auto auto 15px;
	padding: 0 20px;
	border-radius: 28px;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}

.cors_body p {
	display: block;
	max-width: 100%;
	margin: auto auto 10px;
	/*padding-bottom: 35px;*/
	font-size: 16px;
	word-wrap: break-word;
	white-space: normal;
	min-height: 60px;
	max-height: 60px;
	color: #000;
	font-weight: 500;
	font-size: 15px;
}

/*.cors_body p::before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
	height: 1px;
	background-color: #bcc6d0;
}*/
.cors_body img.my_img {
	max-width: 70%;
	min-height: 180px;
	max-height: 180px;
	object-fit: cover;
	margin-top: 22px; /* Param 9-Aug-2019 */
}
.cors_list {
	margin-bottom: 60px;
}

.cors_list li+li {
	margin-top: 15px;
	font-size: 14px;
}

.cors_list li i {
	color: #5225f8;
	padding-right: 8px;
}
/*.cors_sec .slick-slide{
	width: 350px !important;
}
*/
/*pricing sec/*/

/*pricing sec/*/
.gradient-blue {
	background-color: #AB46F8;
	background-image: -moz-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #AB46F8), color-stop(100%, #5225f8));
	background-image: -webkit-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background-image: -o-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background: -ms-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background: -webkit-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background: -o-linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
	background: linear-gradient(45deg, #AB46F8 0%, #5225f8 100%);
}
.counter-section {
	padding: 30px 0;
}
.single-counter {
	text-align: center;
	color: #ffffff; }
	.single-counter .counter-icon {
		margin-bottom: 30px; }
		.single-counter .counter-icon i {
			font-size: 40px; }
			.single-counter .counter {
				font-size: 26px;
				font-family: "Poppins", sans-serif;
				font-weight: 600;
				letter-spacing: 1px;
				margin-bottom: 15px;
				color: #fff;
			}
			.single-counter p {
				color: #fff;
			}
			.single-counter .counter-title {
				color: #ffffff;
				font-weight: 600;
				font-size: 34px;
				letter-spacing: 0px;
				text-transform: capitalize;
				margin-top: 10px;
			}



/*-----------footer section-----------*/
/*footer top*/
.footer_top {
	padding: 40px 0;
	background: #303030;
	color: #fff;
}
.footer_widget .footer_logo_heading {
	margin-bottom: 5px;
}
.footer_logo {
	font-size: 34px;
	font-weight: 700;
	text-transform: capitalize;
}
.footer_logo img {
	width: 73%;
}
.quick_address a {
	color: #ffb001;
}
.social_bookmark {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer_widget_content p {
	color: #fff;
	line-height: 21px;
	font-size: 15px;
}
.social_bookmark li {
	margin: 0 30px 0 0;
}
.social_bookmark a {
	font-size: 20px;
}
.fa-facebook {
	color: #92afed;
}
.fa-twitter {
	color: #1da1f2;
}
.fa-google-plus {
	color: #dd4b39;
}
.fa-instagram {
	color: #e1306c;
}
.footer_widget_title {
	text-transform: capitalize;
	position: relative;
	padding-bottom: 10px;
	font-size: 20px;
	letter-spacing: 0;
	margin-bottom: 25px;
	font-weight: 600;
	color: #fff;
}
.footer_widget_title::before {
	background-color: #FFB001;
	background-image: -moz-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #FFB001), color-stop(100%, #9acd00));
	background-image: -webkit-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background-image: -o-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background: -ms-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background: -webkit-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background: -o-linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	background: linear-gradient(45deg, #FFB001 0%, #9acd00 100%);
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 50px;
}
.quick_link li + li {
	margin-top: 10px;
}
.quick_link a {
	display: inline-block;
	text-transform: capitalize;
	font-size: 14px;
	color: #fff;
}
.download_icon li {
	display: inline-block;
	margin-bottom: 15px;
}
.quick_address p {
	margin-bottom: 5px;
}
/*footer top/*/

.footer-sec
{
	width: 100%;
	float: left;
	padding: 30px 30px 0;
	background: url(../../images/system/footer-copy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
}
.social-sec {
	float: left;
	margin-bottom: 50px;
	padding: 10px 0;
	width: 100%;
}
.social-list li
{
	display: inline-block;
	padding: 0 10px;
}
.social-list i
{
	font-size: 30px;
	color: #112251;
}
.footer-bottm
{
	width: 100%;
	float: left;
	display: table;
	position: relative;
}

.footer-bottm::after{
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.footer-bottm .footer-min:last-child::after
{
	border-right: none;
}
.footer-min ul:last-child
{
	margin-top: 0;
}

.footer-min h3 {
	color: #112251;
	font-size: 13px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
.footer-min p
{
	color: #112251;
	font-size: 16px;
	font-size: 13px;
	font-style: italic;
}
.footer-min i
{
	color: #0a1339;
}
.footer-content-list li
{

}
.footer-content-list li.corse_main a {
	color: #585858;
	font-size: 13px;
	font-weight: 500;
}
.footer-content-list li.corse_main .footer-content-list_sc li {
	font-size: 12px;
	padding: 5px 0 0 13px;
	color: #707070;
}
.page-div
{
	width: 100%;
	float: left;
	text-align: center;
}
.pages-link a
{
	color: #0a1339;
}
.pages-link li
{
	padding: 10px 0;
}

/*faculty sec*/
.fac_sec {
	padding: 30px 0px 30px;
	background: url('../../images/system/professionals.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	background-size: cover;
}
.fac_sec .slick-dotted.slick-slider {
	margin-bottom: 0px;
}
.fac_sec::after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
}
.sec_heading.head_wh {
	color: #fff;
}
.team_imgs, .sec_heading {
		position: relative;
		z-index: 3;
}
.team_imgs .pic::before, .team_imgs .pic::after {
	display: none;
}
.team_imgs .pic > img {
	width: 220px;
	height: 220px;
}
.team_imgs .testimonial-title {
	color: #fff;
}
.team_imgs .testimonial-title i {
	font-size: 14px;
}
.team_imgs .list-inline-item {
	margin-right: 0;
}
.team_imgs .owl-prev::after, .owl-next::after {
	color: #ffb001;
}
.team_imgs .testimonial-title > small {
	color: #949395;
}
.clr-black {
	color: #000;
}
/*faculty sec/*/

/*user register page*/
.user_mobile, .user_otp {
	background-image: url(../../images/system//bg3.jpg);
}
.user_regst {
	background-image: url(../../images/system/bg3.jpg);
}
.wrp_white {
	background: #fff;
	box-shadow: 0 0px 20px -10px #000;
	padding: 40px 50px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}
.register_sec {
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding: 60px 0;
	position: relative;
}
.register_sec::after {
	background-image: url('../../images/system/dot.png');
	background-repeat: repeat;
	left: 0;
	top: 0;
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.inner_page .btn.btn_gradient.btn_active {
	background: -webkit-linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
	background: -o-linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
	background: linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
	color: #fff;
	border-radius: 70px;
	padding: 8px 25px;
	border: none;
}
.form-control {
	border: none;
	border-bottom: 1px solid #C0C0C0;
	border-radius: 0;
	font-size: 0.9rem;
}
.form-control:focus {
	box-shadow: none;
	border-bottom: 1px solid #0094de;
}
.form_head h5 {
	margin: 40px 0 60px;
	font-size: 15px;
}
.otp_fields {
	margin: 20px 0 10px;;
}
.otp_fields .inpt_otp {
		border: none;
		width: 15%;
		margin: 0 10px;
		display: inline-block;
		text-align: center;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 4px 0px #CFCFCF inset;
}
.cp {
	cursor: pointer;
}
.form_head h5 strong {
	color: #0094de;
}
.user_otp .form_head h5 {
	margin: 40px 0 0px;
}
.resnd_otp {
	color: #9d9d9d;
	font-size: 12px;
	font-style: italic;
}
.form_head strong {
	color: #0094de;
}
.dast {
	width: 150px;
}
.emmob {
	margin: 10px 0;
}
.bootstrap-select > .dropdown-toggle {
	border-bottom: 1px solid #bdbdbd;
	border-radius: 0;
	padding: 5px 12px;
	color: #6c7585;
	font-size: 14px;
}
.user_regst .form_head {
	margin-top: 30px;
}
/*custom radio and check starts*/
.custom_label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin: 12px 0;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
	font-weight: 500;
	font-style: italic;
}
.custom_label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 4px;
	height: 20px;
	width: 20px;
	color: unset;
	background-color: #d1caca;
	margin: 0;
}
.checkmark.radio {
	border-radius: 50%;
}
.custom_label:hover input ~ .checkmark {
	background-color: #ccc;
}
.custom_label input:checked ~ .checkmark {
	background-color: #0094de;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.custom_label input:checked ~ .checkmark:after {
	display: block;
}
.custom_label .checkmark::after {
	left: 7px;
	top: 4px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.custom_label .checkmark.radio:after {
	border-radius: 50%;
}
/*custom radio and check ends*/
/*user register page/*/

/*trainer register page*
.login_sec, .wrap_inr_login {
	width: 100%;
	min-height: calc(100vh - 120px);
}
.form_logo img {
		width: 200px;
		margin-bottom: 30px;
}
.wrap_inr_login {
		padding: 0 50px;
}
.wrap_form_logn {
		padding: 0 100px;
}
.with_bg_logn {
		background-image: url('../img/bg1.jpg');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
}
.col-sm-6.with_bg_logn::after {
		background: rgba(0, 148, 222, 0.5);
		width: 100%;
		height: 100%;
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		z-index: 1;
}
.wrap_bg_img .form_logo {
		color: #fff;
		padding: 20px;
		position: relative;
		z-index: 3;
}
.wrap_bg_img .form_logo p {
		color: #fff;
		font-size: 17px;
		line-height: 1.4em;
		margin-bottom: 20px;
}
.form_logo h3 {
		font-weight: bold;
		font-family: 'Philosopher', sans-serif;
		font-size: 30px;
		margin-bottom: 20px;
}
.form_logo {
		width: 100%;
}
.btn_soc {
		border: 2px solid red;
		display: block;
		padding: 7px 0;
		border-radius: 30px;
		color: red;
}
.btn_soc.fb_btn {
		border: 2px solid #4867aa;
		color: #4867aa;
}
.or_p {
		margin: 5px 0 20px;
		position: relative;
		font-weight: bold;
}
.or_p span {
		font-size: 20px;
		border-radius: 100%;
}
.or_p span em {
		font-size: 15px;
		font-weight: lighter;
}
.forg.pop-forgot {
		color: #fd7878;
		font-size: 13px;
		font-style: italic;
}
.btn.btn_theme, .btn.btn_theme:active, .btn.btn_theme:focus {
		border-radius: 50px;
		padding: 7px 20px;
		font-size: 15px;
		transition: all 0.5s ease 0s;
		border: 2px solid #a10006;
		background: #a10006;
		color: #fff;
}
.swal2-confirm {
		background-color: #a10006 !important;
		border-left-color: #a10006 !important;
		border-right-color: #a10006 !important;
}
.btn.btn_theme:hover {
		border: 2px solid #a00008;
		background: transparent;
		color: #a00008;
}
.form-control {
		border: none;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		height: 45px;
}
.form-control:focus {
		border-color: none;
		box-shadow: none
}
.log_btn .btn.btn_theme {
		padding: 10px 60px;
		text-transform: uppercase;
}
.no_acnt, .no_acnt:hover {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 30px;
		color: #fff;
		font-weight: bold;
		text-decoration: underline;
		font-style: italic;
		font-size: 20px;
}
.btn.dropdown-toggle.btn-light {
	padding: 12px 12px;
	color: #5d5d5d;
}
.dropdown.bootstrap-select.niceselc.form-control {
		border-bottom: 1px solid #ddd;
}
.sid_hed {
	padding: 20px 0 10px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
	font-size: 14px;
	color: #666666;
}
/*trainer register page/*/

/*Downloads page*/
.top_sec {
	background-image: url('../../images/system/homemak.jpg');
	padding: 30px 0;
	background-size: cover;
	color: #fff;
	background-position: 80% 40%;
	position: relative;
}
.top_sec::after {
	background-image: url('../../images/system/dot.png');
	background-repeat: repeat;
	left: 0;
	top: 0;
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.top_sec h3, .top_sec nav {
	position: relative;
	z-index: 3;
	font-weight: bold;
}
.breadcrumb {
	background-color: rgba(255,255,255, 0.8);
	margin-top: 10px;
	justify-content: center;
}
.breadcrumb-item.active {
	color: #000;
}
.inner_page .downloads_sec {
	padding: 40px 0;
}
.wrap_canvas {
	box-shadow: 0 0 10px -5px #808080;
	padding: 20px;
	margin-top: 40px;
	border-radius: 8px;
	
}
.table_header {
	background: #0094de;
	padding: 15px 20px;
	color: #fff;
	margin: -50px 0 30px;
	border-radius: 7px;
	box-shadow: 0 0 10px 5px #D0D0D0;
}
.table_header h3 {
	padding-top: 8px;
	font-weight: bold;
	font-size: 26px;
}
.icoss i {
	color: #0094de;
}
.table thead th:last-child, .table tbody td:last-child {
	text-align: right;
}
.table th, .table td {
	font-size: 14px;
}
/*Downloads page/*/

/*Franchise Enquiry page*/
.fren_sec {
	padding: 50px 0;
}
.img-fluid.fr_img {
	display: inline-block;
	width: 50%;
	margin: 50px 0;
}
.inrad_lab {
	font-size: 14px;
	color: #6d6d6d;
	padding-left: 13px;
	margin-top: 11px;
}
/*Franchise Enquiry page/*/

/*about us page*/
.patr_sec {
	padding: 50px 0;
}
.cors_sec.abt_sec {
	background: #0094de;
	position: relative;
}
.cors_sec.abt_sec::after {
	background-image: url(../../images/system/ptrn1.jpg);
	opacity: 0.4;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	z-index: 2;
}
#cors_id {
	position: relative;
	z-index: 3;
}
.why_sec .img_app .img-fluid {
	width: 90%;
	border-radius: 8px;
	box-shadow: 0 0px 20px -10px #000;
}
.abt_sec .single_cors {
	width: 100%;
}
.abt_sec  .slick-slide div {
	margin: 0 8px;
}
.item_part .img-fluid {
	width: 350px;
	height: 100px;
	object-fit: contain;
	background: #f9f9f9;
	margin: 0 10px;
	border: 1px solid #ddd;
	padding: 10px;
}
.wrap_partn {
	margin: 40px 0 20px;
}
/*about us page/*/

/*news events page*/
.newsEvnt_sec {
	padding: 40px 0 60px;
}
.news_pic img {
	width: 100%;
	height: 210px;
	border-radius: 8px;
	box-shadow: 13px 3px 20px 0px #C0C0C0;
	object-fit: cover;
}
.ttl_news {
	font-weight: bold;
	font-size: 1.25em;
}
.meta_news {
	color: #8d8d8d;
	font-size: 14px;
	font-style: italic;
	margin: 10px 0;
}
.meta_news li i {
	color: #27a1de;
}
.desc_news {
	font-size: 0.9em;
	line-height: 1.6em;
	text-align: justify;
}
.news_botom .row {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.red_toll {
	color: #fff;
	font-style: italic;
}
/*news events page/*/

/*Course detail page*/
.course_dtl_sec {
	position: relative;
	padding: 40px 0 30px;
}
.meta_auth li strong {
	color: #0094de;
	text-shadow: 1px 1px 10px #e9f4fa;
}
.course_Meta {
	margin-top: 20px;
}
.slick_course {
	margin-bottom: 20px;
}
.item_crs img {
	width: 100%;
	height: 420px;
	background: #f8f8f8;
	padding: 10px;
	object-fit: contain;
	cursor: grab;
}
.course_img .slick-slide {
	margin: 0 10px;
}
.item_thumb img {
	padding: 3px;
	width: 100px;
	height: 100px;
	background: #f8f8f8;
	object-fit: contain;
	border: 1px solid #9d9d9d;
	cursor: grab;
}
.row.pos_rel {
	position: relative;
}
.course_dtl_sec .pos_sticky {
	position: sticky;
	top: 90px;
	align-self: flex-start;
}
.course_Meta h3 {
	font-weight: bold;
	font-size: 24px;
}
.meta_price {
	color: #0094de;
	font-size: 25px;
	margin: 15px 0;
}
.desc_crs {
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
	margin-bottom: 10px;
}
.content_detl {
	margin: 30px 0 40px;
}
.bb1 {
	margin-bottom: 10px;
	border-bottom: 1px dashed #bdbdbd;
	padding-bottom: 10px;
	float: left;
	width: 100%;
}
.meta_auth li {
	color: #363636;
	padding: 3px 0;
	font-size: 14px;
}
.meta_auth li strong {
	color: #0094de;
	text-shadow: 1px 1px 10px #e9f4fa;
}
.inner_page .btn.btn_gradient.btn_active {
	margin: 0;
	/*border-radius: 4px;*/
}
.iner_crs h3 {
	font-size: 20px;
	color: #606060;
	margin: 20px 0 0;
	background: #f6f6f6;
	color: #000;
	padding: 10px 11px;
}
.quest_wrp h6 {
	font-weight: bold;
	font-size: 13px;
	margin: 0px 0;
}
.quest_wrp p {
	font-size: 13px;
	line-height: 20px;
}
.quest_wrp {
	margin: 20px 0 0;
}
.suggested_trnr {
	padding: 50px 0;
	box-shadow: 1px 3px 10px 1px gray;
	/*background: #f5f7fa url('../../images/system/ptr2.png');*/ /* Param 9-Aug-2019 */
	/*background-size: cover;*/
}
.suggested_trnr .team_imgs .testimonial-title {
	color: #0094de;
}
/*Course detail page/*/

/*dashboard home css*/
.navbar-brand.logo_ch {
		width: 190px;
		padding: 3px 0;
}
.dash_header .navbar-light .navbar-nav .open > .nav-link,
.dash_header .navbar-light .navbar-nav > .nav-link,
.dash_header .navbar-light .navbar-nav .nav-link.open,
.dash_header .navbar-light .navbar-nav .nav-link {
	color: #7a7b7c;
	font-size: 14px;
	padding: 20px 23px;
}
.dash_header .navbar-light .navbar-nav .name_item .nav-link {
	padding: 10px 0;
}
.dash_header .navbar-light .navbar-nav li.active .nav-link {
	border-bottom: 2px solid #0094de;
	color: #0094de;
}
.dash_header .navbar.navbar-expand-lg.navbar-light {
	padding: 0 0;
}
.navbar .my_dropdown{
	top: 90%;
}
.name_item img {
	width: 40px;
	border-radius: 100%;
	height: 40px;
	padding: 1px;
	border: 1px dotted #000;
}
.wrap_dash_sec {
	padding: 0 40px;
}
.pic_top {
	padding: 0 15px;
}
.sidebar_wrap {
	background: #fff;
	padding: 30px 0 20px;
}
.card_shd {
	box-shadow: 0 0px 10px -6px #BFBFBF;
	border-radius: 8px;
	background: #fff;
}
.pic_top img {
	border-radius: 100%;
	width: 110px;
	height: 110px;
	object-fit: cover;
	border: 1px dotted #bdbdbd;
	padding: 3px;
}
.name_db {
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}
.pln_typ {
	border: 1px solid #212529;
	border-radius: 50px;
	padding: 1px 10px;
	font-size: 12px;
}
.home_page_wrapper.inner_page.trnr_dash_div {
	padding-top: 0px!important;
}
.sec_dashboard.db_main {
	padding: 50px 0;
	background: #fafefe;
}
.pos_rel {
	position: relative;
}
.pic_pos i {
	position: absolute;
	top: 10px;
	right: 75px;
	background: #9acd00;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	border-radius: 100%;
	font-size: 10px;
	border: 1px solid #fff;
}
.btn.upg_pl {
	background: #0094de;
	color: #fff;
	margin: 30px 0;
}
.ul_side a {
	padding: 10px 18px;
	display: block;
	color: #546a7d;
	font-size: 14px;
}
.ul_side li.active a {
	color: #0094de;
	font-weight: 500;
}
.ul_side a i {
	margin-right: 10px;
	width: 16px;
	font-size: 17px;
}
.page_head h4 {
	font-weight: bold;
	font-size: 18px;
	color: #505050;
}
.page_head h6 {
	font-size: 13px;
	margin: 10px 0;
	font-weight: 500;
	color: #909090;
}
.mainside_wrap .page_head h6 a,
.mainside_wrap .page_head h6 a:hover {
	color: #0094de;
	text-decoration: underline;
	cursor: pointer;
}
.main_cntnt_dash {
	margin: 40px 0;
}
.card_single {
	padding: 40px 20px 30px;
	margin-bottom: 30px;
	min-height: 220px;
}
.card_single img {
	width: 60px;
	height: 60px;
}
.card_single h5 {
	font-weight: 600;
	margin: 20px 0 10px;
}
.th_mon {
	line-height: 0;
	font-style: italic;
	font-weight: bolder;
	color: #ffb001;
}
.card_shd.cnt_skamper {
	padding: 30px;
}
/*dashboard home css/*/

/*dashboard trainer View Profile css*/
.img_user .pic_top img {
	width: 180px;
	height: 180px;
	margin-bottom: 40px;
}
.cont_shd_frm label {
	font-size: 12px;
}
.cont_shd_frm .form-group {
	margin-bottom: 20px;
}
.view_prof_page .cont_shd_frm {
	pointer-events: none;
}
.view_prof_page .dropdown-toggle::after {
	display: none;
}
.name_item .dropdown-menu.show {
	/*left: unset;*/
	right: 0;
	padding: 0;
	border: 0;
	box-shadow: -2px 0px 50px -30px #303030;
}
.name_item .dropdown-item {
	padding: 5px 10px 6px;
	font-size: 13px;
	color: #000;
}
/*dashboard trainer View Profile css/*/

/*dashboard trainer Edit Profile css/*/
.img_edtt {
	display: inline-block;
}
.edt_inpt {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #ffb001;
	color: #fff;
	overflow: hidden;
	border-radius: 100%;
	line-height: 50px;
	right: -3px;
	top: 13px;
	border: 3px solid #fff;
	transition: all 0.5s ease 0s;
}
.file_img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.img_edtt:hover .edt_inpt {
	box-shadow: 5px 4px 12px -2px #909090;
}
/*dashboard trainer Edit Profile css/*/

/*dashboard trainer change password css*/
.pswd_img img {
	width: 30%;
	margin: 30px 0;
}
/*dashboard trainer change password css/*/

/*dashboard trainer cms css*/
.card_shd.cnt_skamper.pad-20 {
	padding: 20px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 53px;
	height: 26px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.toglr {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffb001;
	-webkit-transition: .4s;
	transition: .4s;
}
.toglr::before {
	position: absolute;
	content: "";
	height: 18px;
	width: 19px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .toglr {
	background-color: #2196F3;
}
input:focus + .toglr {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .toglr:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.toglr.round {
	border-radius: 34px;
}
.toglr.round:before {
	border-radius: 50%;
}
label.lab_tog {
	font-size: 14px;
	color: #6d6d6d;
	padding-top: 0px;
	position: relative;
	top: 3px;
	margin: 0px 10px 0px 5px;
}
.icoss i.rmv_tr {
	margin-left: 12px;
	color: darkslategray;
}
/*dashboard trainer cms css/*/

/*dashboard trainer subscription css*/
/*dashboard trainer subscription css*/
.subscription_plans .single_cors {
	 box-shadow: unset; 
	 width: unset; 
	 background: transparent; 
	 float: unset;
	 padding: 0;
	color: #fff;
}
.remv_plan {
	position: absolute;
	top: 0px;
	right: 15px;
	background: #fff;
	padding: 7px 10px;
	border-radius: 7px 0;
}
.subscription_plans .bl_grd {
	padding: 20px 10px;
	background-color: #46bbd7;
	background-image: -moz-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #46bbd7), color-stop(100%, #206ff3));
	background-image: -webkit-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background-image: -o-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background: -ms-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background: -webkit-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background: -o-linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
	background: linear-gradient(120deg, #46bbd7 0%, #206ff3 100%);
}
.subscription_plans .rd_grd {
	padding: 20px 10px;
	background-color: #ff8a80;
	background-image: -moz-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff8a80), color-stop(100%, #bb3961));
	background-image: -webkit-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background-image: -o-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background: -ms-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background: -webkit-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background: -o-linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
	background: linear-gradient(120deg, #ff8a80 0%, #bb3961 100%);
}
.subscription_plans .gr_grd {
	padding: 20px 10px;
	background-color: #38ef7d;
	background-image: -moz-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #38ef7d), color-stop(100%, #11998e));
	background-image: -webkit-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background-image: -o-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background: -ms-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background: -webkit-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background: -o-linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
	background: linear-gradient(120deg, #38ef7d 0%, #11998e 100%);
}
.subscription_plans .cors_head p {
	padding: 0 0px;
	color: #fff;
}
.subscription_plans .cors_list li i {
	color: #fff;
}
.subscription_plans .btn.btn_gradient.btn_active {
	margin-bottom: 10px;
}
.card_single .btn.btn_gradient.btn_active {
	background: #fff;
	color: #000;
}
/*dashboard trainer subscription css/*/
/*Homepage Drop down*/
.my_nav .dropdown-item:hover, .dropdown-item:focus {  
	 background-color: unset; 
	 color: #ffb001;
}
.my_nav .new_toggle {
	color: #fff;
}
.my_nav .dropdown-menu {
	left: -1%;
}
.dropdown-item {
	padding: 0.15rem 0.9rem;
	font-size: 14px;
}
.header .dropdown-submenu > .dropdown-menu {
	left: 40% !important;
}
.my_nav .second_menu{
	left: 5%;
}
.my_nav .third_menu{
	left: 24px;
}
#navbarText li{
	position: relative;
}
 /*29/11/18 abhi*/
.write_review_modal_list {
	list-style: none;
	margin: 0;
	padding: 10px 30px;
}
.write_review_modal_list_item {
	padding: 10px 0;
}
.write_review_modal_image_container {
	display: block;
	float: left;
	width: 100%;
	padding: 12px 0;
}
.photo-container {
	width: 100%;
	padding: 0 10px;
	display: inline-block;
}
.flex {
	display: flex;
	flex-flow: row wrap;
}
.flex-item {
	width: 120px;
	height: 120px;
	float: left;
	background-color: #ccc;
	border: 1px solid #fff;
}
.add-phots {
	position: relative;
	display: block;
	width: 100%;
}
.btn-up-phots {
	width: 46%;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 10px 35px;
	text-align: center;
	background-color: #eee;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 10px auto 0;
	cursor: pointer;
}
.review_modal_image {
 width: 47%;
height: 50px;
opacity: 0;
position: absolute;
left: 27%;
top: -4%;
cursor: pointer;
}
.options.list {
	list-style: none;
}
.options.list-item {
	float: left;
	padding: 5px;
}
.selected-btn-color{
	background-color: #5cb85c;
}
.phot-upld {
	position: relative;
}
.modal-upload-image-preview {
	width: 120px;
	float: left;
	height: 120px;                   /*03_dec abhi*/
	object-fit:cover;
	border: 1px solid transparent;
}
.btn.btn-remov {
	position: absolute;
	top: -3px;
	right: -2px;
}
.label.label-default.cstm-label {
	font-size: 12px;
}


/*.write_review_upload_img {
	position: relative;
	width: 24%;
	height: 120px;
	border: 1px solid #ccc;
	background-color: #eee;
	float: left;
	margin-right: 2px;
}*/


.col-md-4.uploaded-section {
	padding: 0 !important;
	margin: 0 !important;
	width: 105px;
}
.write_review_upload_img p {
	position: absolute;
	top: 45px;
	left: 10px;
	color: #999;
}
.write_review_upload_img .fa.fa-times {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
	cursor: pointer;
}
.star-review-table {
	width: 52%;
	text-align: left;
}
.star-raty > i {
	color: #F3AF4B;
}
.review-modal-btn-container {
	display: block;
	width: 100%;
	padding: 25px 0 0;
	text-align: center;
}
.review-modal-submit-btn {
	display: block;
	width: 35%;
	border: 1px solid #ccc;
	background-color: transparent;
	border-radius: 30px;
	padding: 10px;
	font-weight: 900;
	margin: 0 auto;
	color: #23527c;
}
.add-phots label.error{
		display: none!important;
}
/*dashboard trainer subscription css/*/

/*dashboard trainer Chating css*/
.messge_list .noti_mini {
	padding: 12px 10px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.noti_img {
	float: left;
	width: 100%;
	max-width: 17%;
	position: relative;
}
.noti_img .fa {
	position: absolute;
	z-index: 8;
	left: 1px;
	top: 1px;
	font-size: 11px;
}
.noti_img .fa.online {
	color: #20c516;
}
.noti_img .fa.offline {
	color: #ddd;
}
.noti_img img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.noti_desc h5 {
	font-size: 12px;
	margin: 0;
	position: relative;
	width: calc(100% - 11px);
}
.noti_desc span.pull-right.messge-time {
	font-size: 10px;
	color: #777;
	font-weight: normal;
}
.noti_desc > p {
	font-size: 12px;
	margin: 0;
}
.noti_desc > span {
	color: #777777;
	font-size: 10px;
	margin-top: -1px;
	float: left;
}
.messge_list .dropdown-menu {
	left: unset;
	right: 0;
}
.inbox_usrs li.active .messge_list .noti_desc .dropdown-menu li a,
.inbox_usrs li.active .messge_list .noti_desc .dropdown-menu li a span {
	color: #000;
}
.inbox_usrs {
	list-style-type: none;
	overflow-y: auto;
	height: 423px;
}
.messge_list .noti_desc h5 {
	font-size: 14px;
}
.messge_list .noti_desc h5 a {
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}
.messge_list .noti_desc > p {
	color: #fff;
}
.messge_list .noti_desc {
	padding-left: 50px;
	color: #fff;
}
.active .messge_list .noti_desc {
	color: #000;
}
.srch_bar_chat .input_catch, .srch_bar_chat .input_catch::placeholder {
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	height: 45px;
	background: transparent;
	color: #fff;
} 
.srch_bar_chat .input_catch:hover, .srch_bar_chat .input_catch:focus {
	box-shadow: none;
}
.inbox_usrs li.active .messge_list {
	background: #fff;
}
.chating_user.bl_grd {
	padding: 0;
	position: relative;
	z-index: 1;
}
.inbox_usrs li.active .noti_desc h5 a,
.inbox_usrs li.active .noti_desc h5 span,
.inbox_usrs li.active .noti_desc p,
.inbox_usrs li.active .noti_desc > span {
	color: #888 ;
}
.anc_dash {
	padding: 12px 0;
}
.anc_dash a {
	color: #fa4141;
}
.card_shd.cnt_skamper.pad-0 {
	padding: 0;
}
.chating_user .pos_rel i {
	position: absolute;
	right: 7px;
	top: 12px;
	color: #fff;
}
.chating_user li .pos_rel i {
	top: 0px;
}
.srch_bar_chat .input_catch {
	border: none;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 0;
	height: 55px;
}
.chat_mgmt .cont_shd_frm .col-sm-4 {
	padding-right: 0;
}
.chat_mgmt .cont_shd_frm .col-sm-8 {
	padding-left: 0;
}
.chating_user {
	background: red;
}
.head_chatr .img-fluid {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 10px;
	float: left;
}
.side_wrp_dp {
	position: relative;
}
.head_chatr {
	width: 100%;
	background: #fff;
	padding: 10px 10px;
	position: relative;
	z-index: 3;
	box-shadow: 0px 30px 30px -30px #000;
}
.main_msg_single {
	position: relative;
	margin-bottom: 15.5px;
}
.msg_dtl {  
	padding-left: 65px;
}
.msg_dtl > span {
	font-size: 12px;
	margin-top: 7px;
	display: block;
	color: #505050;
}
.msg_usr_img {
	position: absolute;
	bottom: 25px;
	left: 20px;
	width: 50px;
}
.msg_usr_img img {
	width: 100%;
	height: 50px;
	object-fit: cover;
	border-radius: 100px;
}
.scrol_cls {
	padding: 20px 10px;
	background: #f8fdff;
	min-height: 350px;
	max-height: 350px;
	overflow: auto;
}
.main_msg_single {
	padding: 0 20px;
}
.msg_inr_dtl {
	background: #39a2e0;
	border-radius: 10px 10px 10px 0;
	padding: 3px 10px;
	font-size: 13px;
	line-height: 0;
	max-width: 70%;
	display: inline-block;
	box-shadow: 0 0px 24px -10px #69adf6;
	color: #fff;
}
.sent_msg .msg_inr_dtl {
	border-radius: 10px 10px 0px 10px;
	background: #fff;
	color: #000;
}
.rcvd_msg .msg_inr_dtl p {
	color: #fff;
}
.footer_chatr {
	background: #faf0f0;
	padding: 10px 8px;
}
.input_writ i {
	position: absolute;
	right: 13px;
	top: 12px;
}
.input_writ input {
	height: 45px;
	padding: 0px 39px 0 10px;
	border: 1px solid #ededed;
}
.footer_chatr .col-sm-1 {
	padding-left: 0;
	padding-right: 10px;
}
.clip_atch {
	overflow: hidden;
}
.clip_atch i {
	background: #ffb001;
	border-radius: 100%;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.clip_atch input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}


/*dashboard trainer Chating css*/
.messge_list .noti_mini {
	padding: 12px 10px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.noti_img {
	float: left;
	width: 100%;
	max-width: 17%;
	position: relative;
}
.noti_img .fa {
	position: absolute;
	z-index: 8;
	left: 1px;
	top: 1px;
	font-size: 11px;
}
.noti_img .fa.online {
	color: #20c516;
}
.noti_img .fa.offline {
	color: #ddd;
}
.noti_img img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.noti_desc h5 {
	font-size: 12px;
	margin: 0;
	position: relative;
	width: calc(100% - 11px);
}
.noti_desc span.pull-right.messge-time {
	font-size: 10px;
	color: #777;
	font-weight: normal;
}
.noti_desc > p {
	font-size: 12px;
	margin: 0;
}
.noti_desc > span {
	color: #777777;
	font-size: 10px;
	margin-top: -1px;
	float: left;
}
.messge_list .dropdown-menu {
	left: unset;
	right: 0;
}
.inbox_usrs li.active .messge_list .noti_desc .dropdown-menu li a,
.inbox_usrs li.active .messge_list .noti_desc .dropdown-menu li a span {
	color: #000;
}
.inbox_usrs {
	list-style-type: none;
	overflow-y: auto;
	height: 423px;
}
.messge_list .noti_desc h5 {
	font-size: 14px;
}
.messge_list .noti_desc h5 a {
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}
.messge_list .noti_desc > p {
	color: #fff;
}
.messge_list .noti_desc {
	padding-left: 50px;
	color: #fff;
}
.active .messge_list .noti_desc {
	color: #000;
}
.srch_bar_chat .input_catch, .srch_bar_chat .input_catch::placeholder {
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	height: 45px;
	background: transparent;
	color: #fff;
} 
.srch_bar_chat .input_catch:hover, .srch_bar_chat .input_catch:focus {
	box-shadow: none;
}
.inbox_usrs li.active .messge_list {
	background: #fff;
}
.chating_user.bl_grd {
	padding: 0;
}
.inbox_usrs li.active .noti_desc h5 a,
.inbox_usrs li.active .noti_desc h5 span,
.inbox_usrs li.active .noti_desc p,
.inbox_usrs li.active .noti_desc > span {
	color: #888 ;
}
.anc_dash {
	padding: 12px 0;
}
.anc_dash a {
	color: #fa4141;
}
.card_shd.cnt_skamper.pad-0 {
	padding: 0;
}
.chating_user .pos_rel i {
	position: absolute;
	right: 7px;
	top: 12px;
	color: #fff;
}
.chating_user li .pos_rel i {
	top: 0px;
}
.srch_bar_chat .input_catch {
	border: none;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 0;
	height: 55px;
}
.chat_mgmt .cont_shd_frm .col-sm-4 {
	padding-right: 0;
}
.chat_mgmt .cont_shd_frm .col-sm-8 {
	padding-left: 0;
}
.chating_user {
	background: red;
}
.head_chatr .img-fluid {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 10px;
	float: left;
}
.side_wrp_dp {
	position: relative;
	z-index: 2;
}
.head_chatr {
	width: 100%;
	background: #fff;
	padding: 10px 10px;
	position: relative;
	z-index: 3;
	box-shadow: 0px 30px 30px -30px #000;
}
.main_msg_single {
	position: relative;
	margin-bottom: 15.5px;
}
.msg_dtl {  
	padding-left: 65px;
}
.msg_dtl > span {
	font-size: 12px;
	margin-top: 7px;
	display: block;
	color: #505050;
}
.msg_usr_img {
	position: absolute;
	bottom: 25px;
	left: 20px;
	width: 50px;
}
.msg_usr_img img {
	width: 100%;
	height: 50px;
	object-fit: cover;
	border-radius: 100px;
}
.scrol_cls {
	padding: 20px 10px;
	background: #f8fdff;
	min-height: 350px;
	max-height: 350px;
	overflow: auto;
}
.main_msg_single {
	padding: 0 20px;
}
.msg_inr_dtl {
	background: #39a2e0;
	border-radius: 10px 10px 10px 0;
	padding: 3px 10px;
	font-size: 13px;
	line-height: 0;
	max-width: 70%;
	display: inline-block;
	box-shadow: 0 0px 24px -10px #69adf6;
	color: #fff;
}
.sent_msg .msg_inr_dtl {
	border-radius: 10px 10px 0px 10px;
	background: #fff;
	color: #000;
}
.rcvd_msg .msg_inr_dtl p {
	color: #fff;
}
.footer_chatr {
	background: #faf0f0;
	padding: 10px 8px;
}
.input_writ i {
	position: absolute;
	right: 13px;
	top: 12px;
}
.input_writ input {
	height: 45px;
	padding: 0px 39px 0 10px;
	border: 1px solid #ededed;
}
.footer_chatr .col-sm-1 {
	padding-left: 0;
	padding-right: 10px;
}
.clip_atch {
	overflow: hidden;
}
.clip_atch i {
	background: #ffb001;
	border-radius: 100%;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.clip_atch input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
/*dashboard trainer Chating css/*/

.error1{
	color: red;
}

/*--Modal popup--*/
		.offer_popup .modal-content{
			/*width: 680px;*/
			height: 440px;
			/*left: -87px;*/
			top: 95px;
			/*background: linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);*/
		}
		.modal-dialog{
    		max-width: 680px!important;
    		margin: auto!important;
		}
		.offer_popup .modal-body{
			padding: unset;
		}
		
		.offer_popup .modal-header{
			padding: unset;
			border: unset;
		}
		.offer_popup .modal_content h1{
			 font-size: 35px;
			 text-transform: uppercase;
			 font-weight: 600;
			 color: #212529;
			 text-align: center;
			 /*font-style: italic;*/
			 font-family: 'Yeseva One', cursive;
			 margin: 22px 0 0 12px;
			 line-height: 45px;
		}
		.offer_popup .offer_img .btn-primary {  
			background: linear-gradient(45deg, #13B3F7 0%, #0131ff 100%);
			color: #fff;
			border-radius: 2px;
			padding: 6px 57px;
			margin: 80px 0 0 71px;
			text-transform: uppercase;
			text-align: center;
		}
		.offer_popup .offer_close .close{
			width: 30px;
			height: 30px;
			background: #fff;
			border-radius: 100%;
			position: absolute;
			top: -14px;
			right: -12px;
			text-align: center;
			line-height: 34px;
			opacity: 1;
			z-index: 1;
			}
		.coupon_code.text-center {
			margin: 70px 0 0;
		} 
		.offer_popup .coupon_code h4 strong{
			text-transform: capitalize;
			font-weight: 400;
			font-size: 20px;
		}
		.offer_popup .coupon_code h4{
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
		}
		/*--Modal counselling --*/

		.offer_pop .offer_close{
			position: relative;
		}
		.offer_pop .offer_close .close{
			width: 30px;
			height: 30px;
			background: #3f0c7f;
			border-radius: 100%;
			position: absolute;
			top: -14px;
			right: -12px;
			text-align: center;
			line-height: 34px;
			opacity: 1;
			z-index: 1;
			color: #fff;
		}

		/*--End--*/
/*--End--*/
/*user subscriptions*/
.usr_subs .card_single.card_shd {
	align-items: center;
}
.usr_subs h5 {
	flex: 1;
}
.usr_subs img {
	/*flex: 1;*/
}
.usr_subs p {
	flex: 1;
}
/*user subscriptions/*/
/*.top_header .name_item {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
}*/
.top_header .list-inline-item:not(:last-child) {
		margin-right: 0.2rem;
		border-right: 1px solid #ddd;
}
.nav-link {
		padding: 0rem 0.4rem;
}
.cors_body ul {
		min-height: 95px;
		overflow: hidden;
		max-height: 95px;
}

.offer_popu .modal-content {
		height: auto !important;
}
div#vidBox {
		width: 100%;
		height: 100%;
}
.offer_popu .modal-body {
		padding: 0;
}

/*sitemap page*/
.sitemap_ul {
	flex-flow: wrap;
	padding-left: 50px;
}
.sitemap_ul li {
	padding: 10px 0px;
	flex: 0 0 25%;
}
.sitemap_ul li a {
	color: #5e5e5e;
	cursor: pointer;
	text-decoration: underline;
	font-size: 14px;
}
/*sitemap page/*/

.botom_ftrr {
	float: left;
	width: 100%;
	border-top: 1px solid #adadad;
	padding: 10px 0;
	font-size: 13px;
	margin-top: 20px;
}
.botom_ftrr a {
	color: #303030;
	/* text-decoration: underline; */
	padding-right: 10px;
	border-right: 1px solid #adadad;
}
.botom_ftrr li:last-child a {
	border-right: 1px solid transparent;
}
.formss_modal {
	padding: 30px 60px 10px;
}
.formss_modal label {
	font-size: 13px;
}

/*--Contact-us rohit--*/
.table_div .colm_sec{
	background: rgba(246,246,246,0.4);
	padding: 30px 0;
	margin: 0 0 30px;
}

.table_div .img_fluid img{
	width: 10%;
	margin: 0 0 15px;
}
.first_div h3{
	font-size: 16px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 0 10px;
}
.first_div p{
	font-size: 13px;
	text-align: center;
	text-transform: capitalize;
	font-weight: 400;
}
.first_div .far{
	font-size: 30px;
	color: #0094de;
	margin: 0 0 15px;
}
.first_div .fas{
	font-size: 30px;
	color: #0094de;
	margin: 0 0 15px;
}
/*Faq*/

.faq-section {
		width: 100%;
		float: left;
		padding: 6% 0;
		background-color: #f4f7f9;
}
.faq-content-container {
		width: 85%;
		margin: 0 auto;
}
.faq-title {
		text-align: center;
		font-size: 38px;
		color: #000;
}
.faq-qa-list {
		list-style-type: none;
		margin: 0;
		padding: 55px 0;
		width: 100%;
}
.faq-qa-list-item:first-child {
		padding-top: 0;
}
.faq-qa-list-item {
		padding: 24px 0;
		line-height: 1.3;
		cursor: pointer;
		font-size: 18px;
		border-bottom: 1px solid #d6d9e2;
}
.faq-qa-list-item-arrow-icn {
		float: right;
		width: 18px;
		height: 18px;
		font-size: 25px;
}
.faq-qa-answer {
		margin: 16px 0 0;
		color: #7b8194;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0;
}
.faq-hero-section {
		width: 100%;
		float: left;
		padding: 4% 0;
		margin-top: 64px;
		position: relative;
		background-color: #e7e7e7;
		background-image: url('../../images/system/contact.jpg');
		opacity: 0.5;
}
.faq-hero-title {
		margin: 0;
		padding: 20px 25%;
		font-size: 41px;
		font-weight: 900;
		color: #fff;
		text-shadow: 5px 1px 11px rgba(0,0,0,1);
}
/* 28 aug 2019 */
.consult-modal-content
{
	margin:20px 0!important;
}
.outer-footer.product-share {
	float:left;
	/*position: absolute;*/
	top: 17px;
	right:16px;
}
.iner_crs
{
	float: left;
}
.course-1
{
	float: left;
	width:100%;
}
.course-in
{
	float: left;
	width: 70%;
}
.course_Meta h3 {
    width: 74%;
}
.product_scamper_tittle.middle-title p
{
	width:100%;
	height: 70px;
	/*white-space: nowrap;*/
  	overflow: hidden;
  	text-overflow: ellipsis;
}
/* 30 aug 2019 */
.show [role="combobox"]
{
	min-width:100%!important;
}
#navbarText li {
	position: relative;
	/*width: 100%;*/
}
.drop-menu
{
	width: 150px !important;
}
.ScamperSkillsWWrapper .slide-content-wrapper
{
	height:auto!important;
}
/* 3 sep 2019 */

.about-sec-1
{
	padding-bottom: 0px!important;
}
.be-resell
{
	margin-bottom: 0!important;
}
.quick_link li
{
	list-style: none!important;
}
.social_bookmark li
{
	list-style: none!important;
}
.footer-min ul:last-child
{
	list-style: none!important;
}
.side_menu ul li

{
	list-style: none!important;
}

.wrap-div.footer-min .nav-link{
	padding: 0;
}



/*--End--*/

/*.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: green !important;
}*/

