.calender-date-bar-scroll-list{
	justify-content: space-around!important;
}
#SlotDate{
	margin-right: 7em;
}
.section-heading.blue-color .location-selection-container{
	width: unset!important;
}
.mg-ldft-resp img{
	width: 60px; 
	display:inline-block;
	padding-top:15px;
}

.footer-section .bottom-footer{
	flex-wrap: wrap;
}

.membership-plan-table-container{
	width: unset!important;
}
.nw-wrap-mrtbt{
	float: unset!important;
	width: unset!important;
	margin-bottom: 25px!important;
}

.pricing-plan-section{
	top: 25px!important;
}

.trial-class-info-wrapper .trial-class-duration-container,
.trial-class-info-wrapper .trial-class-duration-container{
	width: 100%;
}
.trial-class-info-wrapper .trial-class-duration-container div,
.trial-class-info-wrapper .trial-class-duration-container div{
	text-align: center;
}

@media(max-width: 1200px ){
	.or-span .line.left-line{
		left: 195px;
	}
	.or-span .line.right-line{
		right: 195px;
	}
}

@media(max-width: 991px ){
	.founder-img-container .img-responsive.founder-img{
		margin: 0 auto;
		float: unset!important;
	}
	
	.founder-img-container .founder-img-overlay{
		right: 3.8em;
	}
	.row .team-text-container,
	.row .founder-msg-container{
		padding-left: 5px;
	}

	.row .join-text-container{
		padding-right: 0px;
		margin-bottom: 20px;
	}
	.become-partner-home .become-partner-content-wrapper{
		margin-left: 0px;
	}
	.nw-rep-prt{
		margin-left: 6em;
	}
	.becoming-partner-section-img-container .becoming-partner-section-img{
		width: 320px;
		height: 300px;
	}
	.partner-around-world-section .partner-around-content-btn{
		width: 27%;
	}
	.membership-plan-section{
		float: left;
		width: 100%;
	}

}




@media(max-width: 768px ){
	.founder-img-container .founder-img-overlay{
		right: 17.8em;
	}
	.row .team-img-container img{
		margin: 0 auto;
	}

	.row .team-img-container::after{
		left: 112px;
	}
	.row .join-us-img-container{
		padding: 0px 15px;
	}
	.row .join-us-img-container::after{
		right: 0px;
	}
	.become-new-resp{
		background-size: contain;
	}
	.social-btns .facebook,
	.social-btns .google{
		width: 100%;
		margin-bottom: 15px;
	}
	.or-span .line.left-line{
		left: 245px;
	}
	.or-span .line.right-line{
		right: 245px;
	}
	.nw-rep-prt{
		margin-left: 0px;
	}
	.become-new-resp{
		background-position: initial;
	}
	.nw-rep-prt .become-partner-content-wrapper{
		margin-top: 20%;
	}

	#DataTables_Table_0_filter label{
		float: right;
		padding-right: 10px;

	}
	.header_main.index{
		background-color: white!important;
	}

	#bs-example-navbar-collapse-1 ul li a{
		color: black;
	}

	#bs-example-navbar-collapse-1 ul li a:hover::after{
		width: 4%;
	}
	.slider_home .hero-title{
		font-size: 35px;
		/*text-align: center;*/
	}
	.hero-slider-img{
		height: 44em;
	}
	.all-studios-section.text-center .section-heading p{
		width: 100%;
		text-align: left;
		padding: 15px;
	}
	.mg-ldft-resp{
		text-align: left;
		margin-left: 0px;
	}
	.pricing-hero-section .pricing-hero-content-wrapper h2{
		padding: 20px 5%;
	}
	.start-free-trial-wrapper .start-free-trial-subtitle{
		padding: 0 1%;
		text-align: left;
	}
	.trial-class-info-wrapper .trial-btn-container .start-trial-text{
		padding: 25px 0px 0px;
	}
	
	
}

@media(max-width: 640px ){
	.founder-img-container .founder-img-overlay{
		right: 13.2em;
	}
	.row .team-img-container::after{
		left: 50px;
	}
	.or-span .line.left-line{
		left: 255px;
	}
	.or-span .line.right-line{
		right: 255px;
	}
}

@media(max-width: 600px){
	.section-heading.blue-color.pd-bt-20 h2,
	.help-center-faq-content-container h3{
		font-size: 25px;
	}
	.pricing-hero-content-wrapper h2.faq-hero-title{
		padding: 20px 5%;
	}
	.or-span .line.left-line{
		left: 240px;
	}
	.or-span .line.right-line{
		right: 240px;
	}
	.rsp-with-nw{
		width: 100%;
	}
	#DataTables_Table_0_paginate,
	#allPast_table_paginate{
 		float: left;
 		width: 100%;
 	}
 	#DataTables_Table_0_info,
 	#allPast_table_info{
 		width: 100%;
 		padding: 5px;
 	}
 	#allPast_table_length label{
 		padding-left: 10px;
 	}
}

@media(max-width: 480px ){
	.founder-img-container .founder-img-overlay{
		right: 7.5em;
	}
	.row .team-img-container::after,
	.row .join-us-img-container::after{
			display: none;
	}
	.row .join-us-img-container{
		padding: 0px;
	}

	.about-us-team-nw{
		padding: 20px 0px!important;
	}
	.or-span .line.left-line{
		left: 180px;
	}
	.or-span .line.right-line{
		right: 180px;
	}
	.nw-rep-prt .become-partner-content-wrapper{
		text-align: center;
	}
	.nw-rep-prt .become-partner-body {
		padding: 15px 15px 15px 0;
	}
		#DataTables_Table_0_filter label{
		float: left;
		width: 100%;
		
	}
	#DataTables_Table_0_length label{
		margin-left: 15px;
	}
	.plr-1{
		width: 100%;
	}
	.location-selection-btn-container ul{
		width: 100%;
	}
}



@media(max-width: 414px ){
	.founder-img-container .founder-img-overlay{
		right: 5em;
	}
	.become-new-resp{
		background-size: cover;
		background-position: left;
	}
	.or-span .line.left-line{
		left: 145px;
	}
	.or-span .line.right-line{
		right: 145px;
	}
	.partner-around-world-section .partner-around-content-btn{
		width: 100%;
	}
	.becoming-partner-section-img-container .becoming-partner-section-img{
		width: 250px;
		height: 250px;
	}
	.slider_home .hero-title{
		font-size: 30px;
		text-align: center;
	}
	.slider_home .hero-body{
    padding: 5px 0;
    text-align: center;
    font-size: 19px;
    line-height: 1.3;
	}
	.slider_home .slider-btn-div a{
		width: 100%;
		margin: 5px 0px;
	}
	.slider_home .slider-btn-div{
		padding: 40px 0;
	}
	.section-divider-wrapper p{
		padding: 0 15px;
	}
	#index-how-it-works-section .section-heading p{
		width: 100%;
	}
	.membership-plan-section.text-center .section-heading.blue-color h2,
	.all-studios-section.text-center .section-heading h2{
		font-size: 30px;
	}
	.membership-plan-section.text-center .section-heading.blue-color p{
		width: 100%;
	}
	.mg-ldft-resp{
		width: 100%;
		text-align: center;
	}
	.mg-nw-resp{
		width: 100%;
	}
	.dcovr-job{
		margin: 10px 0px;
	}
	.mg-ldft-resp img{
		width: 85px;
	}
	.pricing-hero-section .pricing-hero-content-wrapper h2{
		padding: 20px 2%;
		font-size: 30px;
	}
	.pricing-contact-us-section .pricing-content-container h3,
	.pricing-faq-section .faq-content-container h3{
		font-size: 30px;
	}
	.trial-class-info-wrapper .start-free-trial-title,
	.start-free-trial-wrapper .start-free-trial-title{
		font-size: 30px;
	}

	.trial-class-info-wrapper,
	.start-free-trial-wrapper{
		padding: 25px 30px;
	}
}

@media(max-width: 400px){
	.help-center-hero-content-wrapper{
		padding: 0 5%;
	}
	.pricing-hero-content-wrapper h2.faq-hero-title,
	.section-heading.blue-color h2{
		font-size: 30px;
	}
	#index-how-it-works-section .section-heading h2{
		font-size: 30px;
	}
}

@media(max-width: 375px ){
	.founder-img-container .founder-img-overlay{
		right: 3.7em;
	}
	.pg-wrapper .login-form-div{
		padding: 12px 5px 40px 5px;
	}
	.nw-pd-res{
		padding: 0px;
	}
	.or-span .line.left-line{
		left: 165px;
		top: 10px;
	}
	.or-span .line.right-line{
		right: 165px;
		top: 10px;
	}
}

@media(max-width: 360px ){
	.founder-img-container .founder-img-overlay{
		right: 3.2em;
	}
}

@media(max-width: 321px ){
	.founder-img-container .founder-img-overlay{
		right: 1.8em;
	}
	.or-span .line.left-line{
		left: 140px;
		top: 10px;
	}
	.or-span .line.right-line{
		right: 140px;
		top: 10px;
	}
	.faq-section .faq-content-container .faq-title{
		font-size: 30px;
	}
	.hd-nw-br{
		margin-left: 3px;
	}
	.nw-comn-pro h4{
	    /*font-size: 15px;*/
	}
	
 	.mainEra_user_dashboard i{
 		right: 20px!important;
 	}
 	.title_dashbord_wrap h2{
 		font-size: 18px;
 	}
 	.nwapdzro,
 	.sdbr-nw-respo{
 		padding: 0px;
 	}
 	.comon_db_h4 h4{
 		font-size: 17px;
 	}
 	.person_edit.edit_btn.hd-nw-br i.fa-reply{
 		padding-right: 8px;
 	}
}