.calender-date-bar-scroll-list{
	justify-content: space-around!important;
}

#SlotDate{
	margin-right: 7em;
}

.section-heading.blue-color .location-selection-container{
	width: unset!important;
}

.mg-ldft-resp img{
	width: 60px; 
	display:inline-block;
	padding-top:15px;
}

.footer-section .bottom-footer{
	flex-wrap: wrap;
}

.membership-plan-table-container{
	width: unset!important;
}

.nw-wrap-mrtbt{
	float: unset!important;
	width: unset!important;
	margin-bottom: 25px!important;
}


.pricing-plan-section{
	top: 25px!important;
}

.trial-class-info-wrapper .trial-class-duration-container,
.trial-class-info-wrapper .trial-class-duration-container{
	width: 100%;
}

.trial-class-info-wrapper .trial-class-duration-container div,
.trial-class-info-wrapper .trial-class-duration-container div{
	text-align: center;
}

.top-studios-slider .time-duration .student-duration a:hover{
	color: white!important;
}

.week-schedule-list-container .week-schedule-list-item{
	margin-bottom: 15px;
}

.nwcstm-tn button{
	height: 40px!important;
	width: 50%;
}

.nwcstm-tn{
	text-align: center;
}

.nw-rsch-cot{
	width: 100%;
	float: unset!important;
}

.nw-rsch-cot .search-result-card{
	width: unset!important;
}

.search-result-card a img{
	object-fit: contain;
}

.resp-fld .dashboard-facility-container span.select2.select2-container.select2-container--default.select2-container--disabled,
.resp-fld .dashboard-facility-container span.select2.select2-container.select2-container--default.select2-container--disabled .selection,
.resp-fld .dashboard-facility-container span.select2.select2-container.select2-container--default.select2-container--disabled .selection span{
	width: 100%!important;
}
.resp-fld-nw .dashboard-facility-container .select2.select2-container.select2-container--default,
.resp-fld-nw .dashboard-facility-container .select2.select2-container.select2-container--default .selection,
.resp-fld-nw .dashboard-facility-container .select2.select2-container.select2-container--default .selection 
.select2-selection.select2-selection--multiple{
	width: 100%!important;
}

.tn-resp div{
	margin-bottom: 17px;
}
.resp-pading-botem{
	margin-bottom: 15px;
}
.flot-lft{
	width: 100%;
	float: left;
}
div.earnings-page-table div.dataTables_wrapper div.dataTables_filter{
	top: 120px;
}

#allPast_table{
	margin-top: 60px!important;
}

.rep-nw-rng-src{
	float: unset;
	width: unset;
}


.mt-bt-nw{
	margin-bottom: 15px;
}
.unst-nw-wth{
	width: unset; 
	padding: 10px 0px;
}

.nt-subt-new{
	float: left;
	width: 100%;
}
.mainEra_user_dashboard span.hd-nw-br i.fa.fa-reply{
	padding-right: 5px;
}

.explore-detail-page-content-container .explore-detail-facility-list li{
	margin-bottom: 3px;
}

.daily_facility.comon_facility .col-sm-12.text-center.generate-slots,
.row.generate-slots,
.my-cstm-form-group,
#change_pw > div {
	float: left;
	width: 100%;
}

.daily_facility.comon_facility .row.pd-tb-1.generate-slots{
	float: left;
	/*width: unset!important;*/
}
.row.generate-slots .facility-submit-btn-container{
	padding: 0px;
}

.imgs-section div{
	float: left;
	width: 100%;
}


.multiselect-container.dropdown-menu li a label input{
	top: 1px;
}




@media(max-width: 1200px ){
	.or-span .line.left-line{
		left: 195px;
	}
	.or-span .line.right-line{
		right: 195px;
	}
	.week-schedule-list-container .week-schedule-list-item{
		width: 20%;
	}
}

@media(max-width: 991px ){
	.founder-img-container .img-responsive.founder-img{
		margin: 0 auto;
		float: unset!important;
	}
	
	.founder-img-container .founder-img-overlay{
		right: 3.8em;
	}
	.row .team-text-container,
	.row .founder-msg-container{
		padding-left: 5px;
	}

	.row .join-text-container{
		padding-right: 0px;
		margin-bottom: 20px;
	}
	.become-partner-home .become-partner-content-wrapper{
		margin-left: 0px;
	}
	.nw-rep-prt{
		margin-left: 6em;
	}
	.becoming-partner-section-img-container .becoming-partner-section-img{
		width: 320px;
		height: 300px;
	}
	.partner-around-world-section .partner-around-content-btn{
		width: 27%;
	}
	.membership-plan-section{
		float: left;
		width: 100%;
	}
	.schedule-row-date{
		flex: 4;
	}
	.new_facility .calender-cstm-select{
		margin-left: unset;
	}
    .new_facility .cstm-select-box{
    	background-position: 625px 6px;
    }
}




@media(max-width: 768px ){
	.founder-img-container .founder-img-overlay{
		right: 17.8em;
	}
	.row .team-img-container img{
		margin: 0 auto;
	}

	.row .team-img-container::after{
		left: 112px;
	}
	.row .join-us-img-container{
		padding: 0px 15px;
	}
	.row .join-us-img-container::after{
		right: 0px;
	}
	.become-new-resp{
		background-size: contain;
	}
	.social-btns .facebook,
	.social-btns .google{
		width: 100%;
		margin-bottom: 15px;
	}
	.or-span .line.left-line{
		left: 245px;
	}
	.or-span .line.right-line{
		right: 245px;
	}
	.nw-rep-prt{
		margin-left: 0px;
	}
	.become-new-resp{
		background-position: initial;
	}
	.nw-rep-prt .become-partner-content-wrapper{
		margin-top: 20%;
	}

	#DataTables_Table_0_filter label{
		float: right;
		padding-right: 10px;
		padding-top: 2px;

	}
	.header_main.index{
		background-color: white!important;
	}

	#bs-example-navbar-collapse-1 ul li a{
		color: black;
	}

	#bs-example-navbar-collapse-1 ul li a:hover::after{
		width: 4%;
	}
	.slider_home .hero-title{
		font-size: 35px;
		/*text-align: center;*/
	}
	.hero-slider-img{
		height: 44em;
	}
	.all-studios-section.text-center .section-heading p{
		width: 100%;
		text-align: left;
		padding: 15px;
	}
	.mg-ldft-resp{
		text-align: left;
		margin-left: 0px;
	}
	.pricing-hero-section .pricing-hero-content-wrapper h2{
		padding: 20px 5%;
	}
	.start-free-trial-wrapper .start-free-trial-subtitle{
		padding: 0 1%;
		text-align: left;
	}
	.trial-class-info-wrapper .trial-btn-container .start-trial-text{
		padding: 25px 0px 0px;
	}
	.week-schedule-list-container .week-schedule-list-item{
		width: 25%;
	}
	.explore-detail-page-content-container .detail-page-content-wrapper{
		padding: 30px 5px;
	}
	.studio-detail-container .explore-detail-card-rating-list{
		width: 25%;
	}
	#SlotDate{
	margin-right: 0em;
	}
	.calender-date-bar-container .calender-date-bar-previous{
		margin-left: 15px;
	}
	.calender-date-bar-container .calender-date-bar-next{
		margin-right: 15px;
	}
	.nw-cnt{
		width: 100%;
	}	
	.calender-date-schedule-row{
		padding: 24px 15px;
	}
	.slot-tp-ls{
		padding: 15px 15px 0px;
		width: 100%;
	}
	.gn-lots{
			padding: 15px 0 0;
	}
	div.earnings-page-table div.dataTables_wrapper div.dataTables_filter{
		top: 165px;
	}
	div.new_earning_search div.dataTables_wrapper div.dataTables_filter{
		top: 120px;
	}
	div.new_table_search div.dataTables_filter label{
         padding: 10px 10px 5px;
	}
	.rpl-btn{
		margin-left: 0px;
	}
	.form-group.select-slot-container #facility_id{
		background-position: 665px 6px;
	}
}

@media(max-width: 641px ){
	.founder-img-container .founder-img-overlay{
		right: 13.2em;
	}
	.row .team-img-container::after{
		left: 50px;
	}
	.or-span .line.left-line{
		left: 255px;
	}
	.or-span .line.right-line{
		right: 255px;
	}
	.week-schedule-list-container .week-schedule-list-item{
		width: 35%;
	}
	.nwapdzro .total-earnings-container{
		text-align: center;
		padding: 7px;
	}
	div.new_earning_search div.dataTables_wrapper div.dataTables_filter{
		top: 172px;
	}
	div.new_earning_search div.dataTables_wrapper div.dataTables_info{
		width: 34%;
	}
}

@media(max-width: 600px){
	.section-heading.blue-color.pd-bt-20 h2,
	.help-center-faq-content-container h3{
		font-size: 25px;
	}
	.pricing-hero-content-wrapper h2.faq-hero-title{
		padding: 20px 5%;
	}
	.or-span .line.left-line{
		left: 240px;
	}
	.or-span .line.right-line{
		right: 240px;
	}
	.rsp-with-nw{
		width: 100%;
	}
	#DataTables_Table_0_paginate,
	#allPast_table_paginate{
 		float: left;
 		width: 100%;
 	}
 	#DataTables_Table_0_info,
 	#allPast_table_info{
 		width: 100%;
 		padding: 5px;
 	}
 	#allPast_table_length label{
 		padding-left: 10px;
 	}
 	div.earnings-page-table div.dataTables_wrapper div.dataTables_filter{
		top: 237px;
		right: 25px;
	}
	div.earnings-page-table div.dataTables_wrapper div.dataTables_filter label input{
		width: 80px;
	}
	#allPast_table_wrapper #allPast_table_length,
	#DataTables_Table_0_wrapper #DataTables_Table_0_length{
		width: 100%;
	}
	div.new_table_search div.dt-buttons{
		width: 100%;
		text-align: center;
	}
	.explore-detail-page-content-container .venue-rating-container div{
		width: 100%;
	}
	.explore-detail-page-content-container .venue-rating-bar-container .progress{
		width: 65%;
	}
	.explore-detail-page-content-container ul li.reviews-list-item div,
	.explore-detail-page-content-container ul li.reviews-list-item span{
		width: 100%;
	}
	.explore-detail-page-content-container .review-star-rating-list{
		width: 100%;
		text-align: left;
	}
}

@media(max-width: 481px ){
	.founder-img-container .founder-img-overlay{
		right: 7.5em;
	}
	.row .team-img-container::after,
	.row .join-us-img-container::after{
			display: none;
	}
	.row .join-us-img-container{
		padding: 0px;
	}

	.about-us-team-nw{
		padding: 20px 0px!important;
	}
	.or-span .line.left-line{
		left: 180px;
	}
	.or-span .line.right-line{
		right: 180px;
	}
	.nw-rep-prt .become-partner-content-wrapper{
		text-align: center;
	}
	.nw-rep-prt .become-partner-body {
		padding: 15px 15px 15px 0;
	}
		#DataTables_Table_0_filter label{
		float: left;
		width: 100%;
		
	}
	#DataTables_Table_0_length label{
		margin-left: 15px;
		float: left;
	}
	.plr-1{
		width: 100%;
	}
	.location-selection-btn-container ul{
		width: 100%;
	}
	/*	.week-schedule-list-container .week-schedule-list-item{
		width: 35%;
	}*/
	.pricing-trial-section,
	.start-free-trial-wrapper{
		padding: 25px 30px;
	}
	.mainEra_user_dashboard .service-provider-status-wrapper{
		text-align: left;
		/*font-size: 20px;*/
	}
	.mainEra_user_dashboard .service-provider-status-wrapper #p{
		font-size: 20px;
	}
	.resp-pading-zro{
		padding: 0px;
	}
	div.new_table_search div.dataTables_filter label {
    	padding: 10px 34px 5px;
	}	
	#DataTables_Table_0_wrapper #DataTables_Table_0_length label{
		float: unset;
	}


}



@media(max-width: 415px ){
	.founder-img-container .founder-img-overlay{
		right: 5em;
	}
	.become-new-resp{
		background-size: cover;
		background-position: left;
	}
	.or-span .line.left-line{
		left: 145px;
	}
	.or-span .line.right-line{
		right: 145px;
	}
	.partner-around-world-section .partner-around-content-btn{
		width: 100%;
	}
	.becoming-partner-section-img-container .becoming-partner-section-img{
		width: 250px;
		height: 250px;
	}
	.slider_home .hero-title{
		font-size: 30px;
		text-align: center;
	}
	.slider_home .hero-body{
    padding: 5px 0;
    text-align: center;
    font-size: 19px;
    line-height: 1.3;
	}
	.slider_home .slider-btn-div a{
		width: 100%;
		margin: 5px 0px;
	}
	.slider_home .slider-btn-div{
		padding: 40px 0;
	}
	.section-divider-wrapper p{
		padding: 0 15px;
	}
	#index-how-it-works-section .section-heading p{
		width: 100%;
	}
	.membership-plan-section.text-center .section-heading.blue-color h2,
	.all-studios-section.text-center .section-heading h2{
		font-size: 30px;
	}
	.membership-plan-section.text-center .section-heading.blue-color p{
		width: 100%;
	}
	.mg-ldft-resp{
		width: 100%;
		text-align: center;
	}
	.mg-nw-resp{
		width: 100%;
	}
	.dcovr-job{
		margin: 10px 0px;
	}
	.mg-ldft-resp img{
		width: 85px;
	}
	.pricing-hero-section .pricing-hero-content-wrapper h2{
		padding: 20px 2%;
		font-size: 30px;
	}
	.pricing-contact-us-section .pricing-content-container h3,
	.pricing-faq-section .faq-content-container h3{
		font-size: 30px;
	}
	.trial-class-info-wrapper .start-free-trial-title,
	.start-free-trial-wrapper .start-free-trial-title{
		font-size: 30px;
	}
	.trial-class-info-wrapper,
	.start-free-trial-wrapper{
		padding: 25px 30px;
	}
	.week-schedule-list-container .week-schedule-list-item{
		width: 100%;
	}
	#FacilityId{
		width: 40%!important;
	}
	.slot-list .schedule-row-classinfo{
		flex: 2 0 105px;
	}
	.about-us-join-wrapper .join-us-title,
	.about-us-join-wrapper .join-us-text,
	.about-us-founder-wrapper .founder-msg-title,
	.about-us-founder-wrapper .founder-msg-text,
	.about-us-team-wrapper.about-us-team-nw .about-team-title,
	.about-us-team-wrapper.about-us-team-nw .about-team-text,
	.about-us-team-wrapper .about-team-title,
	.about-us-team-wrapper .about-team-text,
	.help-center-faq-section .faq-qa-answer,
	.faq-content-container .faq-qa-answer{
		text-align: justify;
	}
	.nwapdzro .title_dashbord_wrap h2{
 		font-size: 18px;
 	}
 	.mainEra_user_dashboard i{
 		right: 20px!important;
 	}
 	.calender-date-schedule-container.mg-tp-15 .schedule-row-type{
		flex: 12;
		padding: 0px 6px;
	}
}

@media(max-width: 400px){
	.help-center-hero-content-wrapper{
		padding: 0 5%;
	}
	.pricing-hero-content-wrapper h2.faq-hero-title,
	.section-heading.blue-color h2{
		font-size: 30px;
	}
	#index-how-it-works-section .section-heading h2{
		font-size: 30px;
	}
		.studio-detail-container .explore-detail-card-rating-list{
		width: 50%;
	}
	.slot-list .schedule-row-type{
		flex: 5;
	}

	
}

@media(max-width: 376px ){
	.founder-img-container .founder-img-overlay{
		right: 3.7em;
	}
	.pg-wrapper .login-form-div{
		padding: 12px 5px 40px 5px;
	}
	.nw-pd-res{
		padding: 0px;
	}
	.or-span .line.left-line{
		left: 165px;
		top: 10px;
	}
	.or-span .line.right-line{
		right: 165px;
		top: 10px;
	}
		.calender-date-schedule-container.mg-tp-15 .schedule-row-type{
		flex: 12;
		padding: 0px 2px;
	}
	
}

@media(max-width: 361px ){
	.founder-img-container .founder-img-overlay{
		right: 3.2em;
	}
}

@media(max-width: 321px ){
	.founder-img-container .founder-img-overlay{
		right: 1.8em;
	}
	.or-span .line.left-line{
		left: 140px;
		top: 10px;
	}
	.or-span .line.right-line{
		right: 140px;
		top: 10px;
	}
	.faq-section .faq-content-container .faq-title{
		font-size: 30px;
	}
	.hd-nw-br{
		margin-left: 3px;
	}
	.nw-comn-pro h4{
	    /*font-size: 15px;*/
	}
	
 	.mainEra_user_dashboard i{
 		right: 20px!important;
 	}
 	.title_dashbord_wrap h2{
 		font-size: 18px;
 	}
 	.nwapdzro,
 	.sdbr-nw-respo{
 		padding: 0px;
 	}
 	.comon_db_h4 h4{
 		font-size: 17px;
 	}
 	.person_edit.edit_btn.hd-nw-br i.fa-reply{
 		padding-right: 8px;
 	}
 	
 	.nwapdzro .title_dashbord_wrap h2{
 		font-size: 18px;
 	}
 	.common_inner_sevice_provider.profile_serv_provider .comon_db_h4 span{
 		margin-left: 5px;
 	}
 	div.new_earning_search div.dataTables_wrapper div.dataTables_filter{
		top: 230px;
	}

}