label[for=unit_id]{color: red;padding-left: 166px;padding-top: 10px;}
label[for=subject_id]{color: red;position: absolute;padding-top: 10px;}
.right-question-li a {color:black;}
.loader_ques {position: fixed;top: 0;width: 100%;height: 100%;}
.loader_ques {position: fixed;top: 30%;width: 100%;height: 100%;left: 40%;}
/*#myTab .dropdown-menu .dropdown-item {max-width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}*/

.notes_head{color: purple;text-decoration: underline;font-weight: 500;text-align: center;}

.no-graph-data { text-align: center;margin-top: 30px;margin-bottom: 30px;color: purple;text-decoration: underline;font-weight: 500;margin-left: 500px;}
.graph-score_math {width:20%; float:right;padding-top: 50px; padding-left: 50px;}
.graph-score-attempts {color: #17a2b8;}
.graph-score-attempts-numbers {color: #17a2b8;padding-left: 100px;}
.graph-score-average {color:#ffc107;}
.graph-score-average-numbers {color:#ffc107;padding-left: 90px;}
.graph-score-remarks{color:#dc3545; padding-left: 50px;}
.graph-score-remarks-numbers {color:#6f42c1;padding-left: 75px;}
.chrt_grph {height: 370px !important; width: 80% !important;}
#pidBox {width: 100%;height: 550px;}
#modal_pid .modal-body, #modal_pid .modal-header {padding: 0;}
.prep-exam-back-to-dashboard{ border: 1px solid #cdcdcd;background: transparent;margin: 10px 4px;border-radius: 30px;font-size: 14px;color: #404040;
    padding: 3px 16px;}

.comn_reco.left_ans {background:white;border-color:white;color: #fff;}
.comn_reco.right_ans {background:green;border-color:green;color: #fff;}
.comn_reco.wrong-ans {background:red;border-color:red;color: #fff;}
.right-answer {color: green;}
.wrong-answer {color:red;}
.canvasjs-chart-credit{display:none;}
.chrt_grph { margin: 0px 0px 20px;float: left;width: 100%;}
.chrt_grph::after {position: absolute;bottom: 0px;left: 0;width: 60px;background: #fff;height: 12px;content: '';}
.chrt_grph {margin: 0px 0px 20px;float: left;width: 100%;position: relative;}

#chrt_scor { margin: 0px 0px 20px;float: left;width: 100%;}
#chrt_scor::after {position: absolute;bottom: 0;left: 0;width: 80px;background: #fff;height: 25px;content: '';}
#chrt_scor {margin: 0px 0px 20px;float: left;width: 100%;position: relative;}
.poor_class{color:red;}
.good_class{color:orange;}
.very_good_class{color:blue;}
.excellent_class{color:green;}


